workflows/Analisis de Sentimiento Tickets.json
{"createdAt":"2025-04-15T20:50:21.160Z","updatedAt":"2025-07-16T21:14:22.000Z","id":"6OPoBMQaHUd7Qhlm","name":"Analisis de Sentimiento Tickets","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"analytics_sent","responseMode":"lastNode","options":{"allowedOrigins":"*","rawBody":"={{ true }}","responseContentType":"application/json"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-440,-160],"id":"5ac3fa16-8d14-47da-a49c-0ff6929fec08","name":"Webhook","webhookId":"b9086e5a-7118-4682-9d60-8a116a55592b"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json; // El JSON validado y completo\n\nconst info = data.info || {};\nconst cierre = data.cierre || {};\nconst messages = data.messages || [];\n\n// Lista de disclaimers a eliminar (puedes agregar más si surgen otros)\nconst disclaimers = [\n  `***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema.`,\n  `***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system.`,\n  `***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema.`,\n];\n\n// Crear encabezado del ticket\nlet markdown = `# Ticket: ${info.casenumber || 'N/A'}\\n\\n`;\nmarkdown += `**Cliente:** ${info.customerName || 'N/A'}  \\n`;\nmarkdown += `**ID Cliente:** ${info.customerID || 'N/A'}  \\n`;\nmarkdown += `**Estado:** ${info.status?.value || 'N/A'}  \\n`;\nmarkdown += `**Prioridad:** ${info.customerType || 'N/A'}  \\n\\n`;\n\n// Sección de interacciones\nmarkdown += `## Historial de Interacciones\\n\\n`;\n\nif (messages.length > 0) {\n  messages\n    .filter(msg => msg.message && !msg.message.includes('[IMAGE]'))\n    .forEach(msg => {\n      const fecha = msg.date || 'Fecha desconocida';\n\n      // Eliminar todos los disclaimers conocidos\n      let mensajeLimpio = msg.message;\n      disclaimers.forEach(texto => {\n        mensajeLimpio = mensajeLimpio.replaceAll(texto, '');\n      });\n\n      // Limpiar espacios\n      mensajeLimpio = mensajeLimpio\n        .replace(/\\n/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n\n      // Eliminar comillas simples y dobles\n      mensajeLimpio = mensajeLimpio.replace(/['\"]/g, '');\n      \n      markdown += `### ${msg.author?.value || 'Anónimo'} - ${fecha}\\n`;\n      markdown += `${mensajeLimpio}\\n\\n`;\n    });\n} else {\n  markdown += \"* No hay interacciones registradas\\n\\n\";\n}\n\n// Sección de cierre\nif (cierre && Object.keys(cierre).length > 0) {\n  markdown += `## Detalles de Cierre\\n\\n`;\n  markdown += `**Motivo:** ${cierre.Reason_for_Closing || 'N/A'}  \\n`;\n  markdown += `**Responsable:** ${cierre.Responsable || 'N/A'}  \\n`;\n  markdown += `**Descripción:** ${cierre.Incident_Description || 'N/A'}  \\n\\n`;\n}\n\n// Devolver como objeto que n8n espera\nreturn {\n  json: {\n    markdownContent: markdown,\n    ticketId: info.casenumber,\n    sentimient:$json.sentiment,\n    customerId: info.customerID,\n    status: info.status?.value\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-180],"id":"59da43a7-2d31-407a-a4c0-1eaf5d54ecd9","name":"Code","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.output.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"={{ $('ValidoJson').item.json.info.customerName }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('ValidoJson').item.json.info.customerID }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"tipoCliente","value":"={{ $('ValidoJson').item.json.info.customerType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,100],"id":"d9e51775-7ab8-4712-9133-c75bb3ca6063","name":"Formateo de Campos"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2600,1000],"id":"8b88ac20-8ec6-498a-a7b7-1cd5ced71831","name":"OpenAI Chat Model2","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utiliza Llama 30B"},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Formateo de Campos').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $('Formateo de Campos').item.json.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"tipoCliente","value":"={{ $('Formateo de Campos').item.json.tipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Formateo de Campos').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"d6b6375b-a54b-4b90-9d48-12eaaeec2179","name":"sentimentAnalysis.strength","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"755c9bd0-09b5-482b-9e3e-c9face2e5d46","name":"sentimentAnalysis.confidence","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"625ad804-8ed9-4233-ac8e-20b8e7d06b63","name":"info.startdate","value":"={{ $('ValidoJson').item.json.info.startdate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3400,0],"id":"49cf1e48-e743-4da5-b0ac-b0f44d46f66c","name":"Formato de Salida Endpoint_2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3900,200],"id":"01b55b63-01e7-4690-82aa-3cd463953077","name":"Merge"},{"parameters":{"jsCode":"// Acceder correctamente a los datos en n8n\nconst items = $input.all();\nconst result = [];\n\nfor (let i = 0; i < items.length; i++) {\n  // Crear una copia del objeto json\n  const newJson = {...items[i].json};\n  \n  // Convertir customerId a número\n  newJson.customerId = Number(newJson.customerId);\n  \n  // Crear un nuevo objeto item con el json modificado\n  const newItem = {\n    json: newJson\n  };\n  \n  // Añadir al array de resultados\n  result.push(newItem);\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4100,200],"id":"faad6b84-c839-4bb2-9b58-a6b6abe1aa47","name":"ConverToIntegerCID"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"where":{"values":[{"column":"caseid","value":"={{ $json.ticketId }}"}]},"options":{"delayClosingIdleConnection":5}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-180],"id":"ba4991b1-3251-4b5a-8485-6c0e08ed55f0","name":"busca_tt","alwaysOutputData":true,"credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b62bee51-2b11-49c3-821a-2bcf233837f2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,-180],"id":"280764ed-51bf-41b8-81d2-84e5b5621321","name":"If"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"columns":{"mappingMode":"defineBelow","value":{"strength":"={{ $json.sentimentAnalysis.strength }}","confidence":"={{ $json.sentimentAnalysis.confidence }}","caseid":"={{ $json.ticketId }}","customer":"={{ $json.cliente }}","cid":"={{ $json.customerId }}","sentiment":"={{ $json.sentimentAnalysis.category }}","analisis":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caseid","displayName":"caseid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"strength","displayName":"strength","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"json_data","displayName":"json_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"analisis","displayName":"analisis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4280,200],"id":"52cef3e0-250e-4589-af8a-a4146270b59d","name":"Postgres","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Validar existencia general\nif (!input.info || !input.messages || !input.cierre) {\n  throw new Error('Faltan secciones del JSON: se esperaba \"info\", \"messages\" y \"cierre\" en el mismo objeto.');\n}\n\n// Función utilitaria para validar campos\nfunction validateField(obj, key, type = 'string', required = true) {\n  if (!obj.hasOwnProperty(key)) {\n    if (required) throw new Error(`Falta la clave: ${key}`);\n    return;\n  }\n  if (type === 'object') {\n    if (typeof obj[key] !== 'object' || obj[key] === null || Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un objeto`);\n    }\n  } else if (type === 'array') {\n    if (!Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un array`);\n    }\n  } else {\n    if (typeof obj[key] !== type) {\n      throw new Error(`La clave \"${key}\" debe ser de tipo ${type}`);\n    }\n  }\n}\n\n// Validar \"info\"\nconst info = input.info;\n\n['id', 'title', 'casenumber', 'customerID', 'customerName', 'customerType', 'startdate', 'enddate', 'phonealt']\n  .forEach(key => validateField(info, key));\n\n['assigned', 'type', 'type_event', 'creator', 'category', 'services', 'status']\n  .forEach(key => {\n    validateField(info, key, 'object');\n    validateField(info[key], 'id');\n    validateField(info[key], 'value');\n  });\n\n// Validar \"messages\"\nvalidateField(input, 'messages', 'array');\ninput.messages.forEach((msg, i) => {\n  try {\n    validateField(msg, 'id');\n    validateField(msg, 'author', 'object');\n    validateField(msg.author, 'id');\n    validateField(msg.author, 'value');\n    validateField(msg, 'authoremail');\n    validateField(msg, 'date');\n    validateField(msg, 'datesecs', 'number');\n    validateField(msg, 'message');\n    // \"attachment\" es opcional\n  } catch (e) {\n    throw new Error(`Error en messages[${i}]: ${e.message}`);\n  }\n});\n\n// Validar \"cierre\"\nconst cierre = input.cierre;\n\n[\n  'CaseId', 'Company', 'Imputabilidad', 'Responsable',\n  'Unavailable_Minutes', 'unavailable_to_report_minutes',\n  'Type_of_Unavailable', 'date_upgrade_services_affecte',\n  'General_description_cause', 'Servicio', 'Area',\n  'person_confirms_closure', 'overview_fall', 'Reason_for_Closing',\n  'SubReason_for_Closing', 'Equipment', 'Node', 'Displacement',\n  'Reason_Displacement', 'Include_Report', 'Cause_Internal_Error',\n  'email_confirm_close', 'Development_Process_Realized',\n  'Incident_Description', 'Action_Plan'\n].forEach(key => validateField(cierre, key, 'string', false));\n\n// ✅ Si todo es válido, retornar el JSON original\nreturn [{ \n    json: input \n  }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-140,-160],"id":"f1c8d964-cc15-4db2-9058-c00d72cc8eab","name":"ValidoJson","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb42c2f-9353-4efe-86a6-4cbd44dd8af5","leftValue":"={{ $json.info }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,-160],"id":"0505b532-7798-4552-bf49-4e2bcfb8b0cf","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !  {{ $json.message }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-460],"id":"cd6ba465-a9b2-4069-aa27-eba497f2b4c9","name":"ErrorJsonOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2620,360],"id":"80d65ad8-b4e4-45f2-bfc1-fa2cef844969","name":"OpenAI Chat Model3","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utiliza llama 8B"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8261ecd4-5d63-40d3-a197-84ec088319e4","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Positive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Positive"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Neutral","operator":{"type":"string","operation":"equals"},"id":"9711ac4e-3710-4f8f-8ff5-c55e9e8aa705"}],"combinator":"and"},"renameOutput":true,"outputKey":"Neutral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8ac4b5e-0426-4b4b-a19c-1d75ce44e5e9","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Negative","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negative"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d113d642-dafe-4ddd-8df3-486711a77ebe","leftValue":"Error","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4740,-180],"id":"5545d67a-f780-4f23-b628-d345318ff242","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"={{ $('Switch').item.json.success }}","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Switch').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"={{ $('Switch').item.json.cierre }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Switch').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Switch').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('Switch').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('Switch').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('Switch').item.json.output }}","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5320,-660],"id":"53bbf65f-165a-4c20-9661-53beda042a6d","name":"Formato de Salida Bd2"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('ConverToIntegerCID').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('ConverToIntegerCID').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('ConverToIntegerCID').item.json.output }}","type":"object"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"fc81af80-b5bb-4359-baa1-d12467dabe28","name":"cliente","value":"={{ $('ConverToIntegerCID').item.json.cliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3840,-160],"id":"9948c035-a343-471d-bdd6-bb34f2bfc706","name":"Formato de Salida Bd1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4200,-160],"id":"fe74077d-fdac-45e0-af76-7a478aee28f9","name":"Merge_salida"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"=false","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"error","value":"No se envío el email","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5300,-180],"id":"63b420ab-ceea-4706-840c-d70d637b7a6e","name":"Salida Error"},{"parameters":{"method":"POST","url":"http://192.168.2.12:5678/webhook/send-mail-aifx","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"adiazs@ifxcorp.com,jfernandez@ifxcorp.com,begonzalez@ifxcorp.com,jaimep@ifxcorp.com"},{"name":"bcc","value":" jaimep@ifxcorp.com"},{"name":"subject","value":"=Analisis de sentimiento:    {{ $('Switch').item.json.ticketId }} - {{ $('Switch').item.json.sentimentAnalysis.category }}"},{"name":"message_html","value":"={{ $json.html }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5160,-420],"id":"e13eba75-e25d-416f-9758-41dd2fade56a","name":"Email Neutro","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,-460],"id":"e83c5b16-b2f1-4c71-8918-5f020a8f537c","name":"ErrorJsonNoValido1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4960,300],"id":"c5c73046-96c5-4ba3-96e1-82d33f9f1ee3","name":"ErrorJsonNoValido"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    /* Estilos condicionales para cada tipo de sentimiento */\n    .info-table-Negative {\n      background: #ffebee !important;\n      border-left: 6px solid #f44336 !important;\n    }\n    .info-table-Positive {\n      background: #e8f5e8 !important;\n      border-left: 6px solid #4caf50 !important;\n    }\n    .info-table-Neutral {\n      background: #f4f7fb !important;\n      border-left: 6px solid #90a4ae !important;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #f5f7fa;\n      border-left: 6px solid #90a4ae;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #607d8b;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table info-table-{{ $('Merge_salida').item.json.sentimentAnalysis.category }} \">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Cid:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.cliente }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\"><b>{{ $json.sentimentAnalysis.category }}</b></span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      \n      <!-- Resumen -->\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          \n          <span class=\"sentiment-type\">Resumen del Análisis</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output.resumen }}</div>\n      </div>\n\n      <!-- Fragmento -->\n      <div class=\"sentiment-block info-table-{{ $('Merge_salida').item.json.sentimentAnalysis.category }}\">\n        <div class=\"sentiment-header\">\n          \n          <span class=\"sentiment-type\">Fragmento</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output.fragmento }}</div>\n      </div>\n\n            <!-- Recomendaciones -->\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n         \n          <span class=\"sentiment-type\">Recomendaciones</span>\n        </div>\n        <div class=\"sentiment-text\">\n          <div style=\"margin: 0; padding-left: 20px;\">\n            • {{ $json.output.recomendaciones[0] }}<br><br>\n            • {{ $json.output.recomendaciones[1] }}<br><br>\n            • {{ $json.output.recomendaciones[2] }}\n          </div>\n        </div>\n      </div>\n      \n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[4940,-420],"id":"ed478c57-ee69-453b-8cb5-0d7663617a4d","name":"HTML1"},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.output.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"={{ $('ValidoJson').item.json.info.customerName }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('ValidoJson').item.json.info.customerID }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"tipoCliente","value":"={{ $('ValidoJson').item.json.info.customerType }}","type":"string"},{"id":"b4efcec6-cf7d-4e3f-a2e6-8237ebb69456","name":"contenido","value":"={{ $('Code').item.json.markdownContent }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,560],"id":"af9f0ca6-ace9-4931-a133-46e7347f3f2f","name":"Formateo de Campos2"},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('salidafinal').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $('salidafinal').item.json.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"tipoCliente","value":"={{ $('salidafinal').item.json.tipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('salidafinal').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('salidafinal').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"d6b6375b-a54b-4b90-9d48-12eaaeec2179","name":"sentimentAnalysis.strength","value":"={{ $('salidafinal').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"755c9bd0-09b5-482b-9e3e-c9face2e5d46","name":"sentimentAnalysis.confidence","value":"={{ $('salidafinal').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"625ad804-8ed9-4233-ac8e-20b8e7d06b63","name":"info.startdate","value":"={{ $('ValidoJson').item.json.info.startdate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3400,640],"id":"373cfafc-df9f-481d-baa2-19f485bfde75","name":"Formato de Salida Endpoint_"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !  {{ $json.message }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4960,160],"id":"5bc1844b-9ce0-4e05-9c7f-33c66ee806b6","name":"OutputNeutral"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $json.caseid }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $json.customer }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $json.cid }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $json.sentiment }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** Caso validado anteriormente *** ! ","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $json.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $json.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,-360],"id":"5d5f0f10-7a71-4f23-ac0f-a7390c856e9f","name":"OutputNeutral1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $json.caseid }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $json.customer }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $json.cid }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $json.sentiment }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** Caso validado Neutro *** ! ","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $json.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $json.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,-340],"id":"7150d6b6-99ad-4035-b4ef-1dba4ed7d4f2","name":"OutputNeutral2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa9c50aa-2cb5-4eae-9f86-14a35f8ac405","leftValue":"={{ $('Code').item.json.markdownContent }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,820],"id":"62f607ba-2cc7-4f80-b8e3-24dadc5c9571","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.output.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"={{ $('ValidoJson').item.json.info.customerName }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('ValidoJson').item.json.info.customerID }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"tipoCliente","value":"={{ $('ValidoJson').item.json.info.customerType }}","type":"string"},{"id":"b4efcec6-cf7d-4e3f-a2e6-8237ebb69456","name":"contenido","value":"= {{ $json.markdownContent }} ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2220,980],"id":"0755700e-b1a3-4b38-881b-64e7c81de941","name":"Formateo de Campos3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2580,760],"id":"0b1e497b-80d7-4dc5-898f-3949545e8e9f","name":"salidafinal"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Modelo !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3400,340],"id":"87978461-63b9-4f2a-8049-7aa20fb7406a","name":"ErrorJsonNoValido2"},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"={{ $json.sentimentAnalysis.error }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1420,920],"id":"de5589f2-c6ed-40a3-b6f5-3cd9598f8d21","name":"Evolution API","credentials":{"evolutionApi":{"id":"WBRoBH97MGl7Drd5","name":"Wapp AiFX 3171057858"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"mvIAJ3WPYS2PTc26","mode":"list","cachedResultName":"ConsolidadoSentimientosCliente"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[4480,-360],"id":"2914b6c3-f0dc-4ac4-823b-240de23d3ba5","name":"Execute Workflow","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nLimita tu respuesta a maximo 200 Palabras\n\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n\n","needsFallback":true,"options":{"systemMessage":"Eres un analista lingüístico especializado en análisis conversacional, detección de eventos semánticos clave y análisis de sentimiento en interacciones textuales. Tu función es comprender a profundidad toda la conversación, identificar eventos clave, emociones, cambios de tono y construcciones lingüísticas relevantes que reflejan el estado emocional y la evolución de la interacción\n\nResponde en formato json, limpio. con la estructura:\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2920,140],"id":"5bf0fd6c-5d61-4f5e-96d9-deaee09cf99e","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nLimita tu respuesta a maximo 200 Palabras\n\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n\n","options":{"systemMessage":"Eres un analista lingüístico especializado en análisis conversacional, detección de eventos semánticos clave y análisis de sentimiento en interacciones textuales. Tu función es comprender a profundidad toda la conversación, identificar eventos clave, emociones, cambios de tono y construcciones lingüísticas relevantes que reflejan el estado emocional y la evolución de la interacción\n\nResponde en formato json, limpio. con la estructura:\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1440,440],"id":"c17b485c-c5e6-4bc5-a816-2919441f26be","name":"AI AgentOld","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2800,360],"id":"0442b28c-4833-484c-bb69-a6e18e4047ae","name":"OpenAI Chat Model5","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utiliza llama OpeniA"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2780,1000],"id":"406dc574-1ff4-4495-9257-65ffd63a4767","name":"OpenAI Chat Model6","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utilzia Openia Nano"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $json.contenido }}  y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nExtrae el fragmento de la informacion compartida que define el sentimiento del analisis\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n","options":{"systemMessage":"Eres un analista lingüístico especializado en análisis conversacional, detección de eventos semánticos clave y análisis de sentimiento en interacciones textuales. Tu función es comprender a profundidad toda la conversación, identificar eventos clave, emociones, cambios de tono y construcciones lingüísticas relevantes que reflejan el estado emocional y la evolución de la interacción\n\nResponde en formato json, limpio. con la estructura:\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1440,660],"id":"6ea04343-fc33-4e15-ae51-489af4f63afd","name":"AI Ageoldnt1","retryOnFail":true,"waitBetweenTries":5000,"disabled":true},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $json.contenido }}  y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nExtrae el fragmento de la informacion compartida que define el sentimiento del analisis\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n","needsFallback":true,"options":{"systemMessage":"Eres un analista lingüístico especializado en análisis conversacional, detección de eventos semánticos clave y análisis de sentimiento en interacciones textuales. Tu función es comprender a profundidad toda la conversación, identificar eventos clave, emociones, cambios de tono y construcciones lingüísticas relevantes que reflejan el estado emocional y la evolución de la interacción\n\nResponde en formato json, limpio. con la estructura:\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2920,660],"id":"c11a6026-5b01-49c8-8d8e-7c32b9770b36","name":"AI Agent1","onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d455513-023c-4057-a2e0-6f3b7d2c2f28","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Mixto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mixto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Neutral","operator":{"type":"string","operation":"equals"},"id":"7b9ab88c-048b-4db7-89d3-3a1de1a582cd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Neutral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1141d6ca-91b3-4ad5-afc6-66fc4fa3959f","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Negative","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negative"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a6bb356-a438-49ed-815f-fbc9633ea475","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Positive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Positive"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1600,100],"id":"3ac77197-60e2-410b-b637-a135edc8ddf5","name":"Switch1"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[340,300],"id":"ef8f6d89-31d6-4b17-a1a2-40bc5686c4e8","name":"OpenAI Chat Model1","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Llama 30B"},{"parameters":{"promptType":"define","text":"=Instrucciones:\n\nCalcula el strength and confidence scores de acuerdo a  {{ $('Code').item.json.markdownContent }} y el sentimiento: {{ $('Code').item.json.sentimient }}\nTraduce el sentimiento {{ $('Code').item.json.sentimient }}  a: \nPOSITIVO=Positive, \nNEUTRO=Neutral, \nNEGATIVO=Negative,\nMIXTO=Mixto,\n\n-No agregues mas detalle\n-Responde solo los valores\n-No inventes el sentimiento\n\nRespuesta:\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\n  \"sentimentAnalysis\": \n  {\n    \"category\":{{ $('Code').item.json.sentimient }},\n    \"strength\":valor numerico de strength,\n    \"confidence\":valor numerico de confidence\n  }\n}","hasOutputParser":true,"needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,100],"id":"90985faa-f21f-42c8-851b-9abeb5a0838b","name":"IA Analisis sentimiento","retryOnFail":true,"maxTries":5},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"columns":{"mappingMode":"defineBelow","value":{"strength":"={{ $json.sentimentAnalysis.strength }}","confidence":"={{ $json.sentimentAnalysis.confidence }}","caseid":"={{ $('ValidoJson').item.json.info.casenumber }}","customer":"={{ $('ValidoJson').item.json.info.customerName.substring(0,100) }}","cid":"={{ $('ValidoJson').item.json.info.customerID }}","sentiment":"={{ $json.sentimentAnalysis.category }}","analisis":"=\"NA\""},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caseid","displayName":"caseid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"strength","displayName":"strength","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"json_data","displayName":"json_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"analisis","displayName":"analisis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2200,-200],"id":"a1678858-bcf7-4658-b4aa-c87fb1bc3be0","name":"Insert rows in a table","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[500,300],"id":"b9b00740-f721-42d4-abe9-771860065548","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"sentimentAnalysis\": \n  {\n    \"category\":\"\",\n    \"strength\":0,\n    \"confidence\":0\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[880,280],"id":"86997dd1-7178-48b6-9ef0-6a3b30594f1d","name":"Structured Output Parser","disabled":true},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,100],"id":"512c4220-4046-4387-b6ad-e9dfa887d7fc","name":"ParseJsonResponse"}],"connections":{"Webhook":{"main":[[{"node":"ValidoJson","type":"main","index":0}]]},"Code":{"main":[[{"node":"busca_tt","type":"main","index":0}]]},"Formateo de Campos":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Formato de Salida Endpoint_2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ConverToIntegerCID","type":"main","index":0}]]},"ConverToIntegerCID":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"busca_tt":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"OutputNeutral1","type":"main","index":0}],[{"node":"IA Analisis sentimiento","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Formato de Salida Bd1","type":"main","index":0}]]},"ValidoJson":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"ErrorJsonNoValido1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"ErrorJsonOutput","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"HTML1","type":"main","index":0}],[{"node":"OutputNeutral","type":"main","index":0}],[{"node":"HTML1","type":"main","index":0}],[{"node":"ErrorJsonNoValido","type":"main","index":0}]]},"Formato de Salida Bd1":{"main":[[{"node":"Merge_salida","type":"main","index":1}]]},"Merge_salida":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Execute Workflow","type":"main","index":0}]]},"Email Neutro":{"main":[[{"node":"Formato de Salida Bd2","type":"main","index":0}],[{"node":"Salida Error","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Email Neutro","type":"main","index":0}]]},"Formateo de Campos2":{"main":[[{"node":"salidafinal","type":"main","index":0}]]},"Formato de Salida Endpoint_":{"main":[[{"node":"Merge","type":"main","index":1}],[]]},"If2":{"main":[[{"node":"Formateo de Campos2","type":"main","index":0}],[{"node":"Formateo de Campos3","type":"main","index":0}]]},"Formateo de Campos3":{"main":[[{"node":"salidafinal","type":"main","index":1}]]},"salidafinal":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Execute Workflow":{"main":[[]]},"OutputNeutral1":{"main":[[]]},"AI Agent":{"main":[[{"node":"Formato de Salida Endpoint_2","type":"main","index":0}],[{"node":"ErrorJsonNoValido2","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":1}]]},"AI Ageoldnt1":{"main":[[]]},"AI Agent1":{"main":[[{"node":"Formato de Salida Endpoint_","type":"main","index":0}],[{"node":"ErrorJsonNoValido2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"If2","type":"main","index":0}],[{"node":"Formateo de Campos","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"IA Analisis sentimiento","type":"ai_languageModel","index":0}]]},"IA Analisis sentimiento":{"main":[[{"node":"ParseJsonResponse","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"OutputNeutral2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"IA Analisis sentimiento","type":"ai_languageModel","index":1}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"IA Analisis sentimiento","type":"ai_outputParser","index":0}]]},"ParseJsonResponse":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5,"saveDataSuccessExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"200.62.6.89","x-forwarded-for":"200.62.6.89","x-forwarded-proto":"https","connection":"upgrade","content-length":"46370","x-correlation-id":"e78e8400-6283-11f0-87a8-0afff96dd105","user-agent":"AHC/1.0","accept":"*/*","content-type":"application/json; charset=UTF-8"},"params":{},"query":{},"body":{"info":{"id":"38782467","title":"Intermitencias","casenumber":"TT1092867","customerID":"330806","customerName":"PERFILES Y SOLUCIONES LOGISTICAS S.A.S.","customerType":"Titanium","assigned":{"id":"2889922","value":"Conectividad_Titanium_Platinum"},"startdate":"07/14/2025 9:26 AM","enddate":"07/16/2025 4:31 PM","phonealt":"3174356753","type":{"id":"1","value":"Incidencia"},"type_event":{"id":"","value":""},"creator":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"category":{"id":"263","value":"Intermitencias"},"services":{"id":"1685446,2043654","value":"1789241-IFX Internet Premium,2147449-IFX MPLS"},"status":{"id":"7","value":"Cerrado"}},"messages":[{"id":"155205500","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 10:58 AM","datesecs":1752515880000,"message":"Actualmente se estan realizando pruebas con cliente. Se solicita al cliente usar DNS de IFX ya que esta usando los de GoogleTiempos nosmales desde el PECOBAQOFI1006X1#ping 200.62.61.169 repeat 5000000 size 1500Type escape sequence to abort.Sending 5000000, 1500-byte ICMP Echos to 200.62.61.169, timeout is 2 seconds:!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Success rate is 100 percent (1320/1320), round-trip min/avg/max = 1/1/4 ms Desde el Mk a Internet:[ifxadmin@SID_1789241_PERFILES_Y_SOLUCIONES_LOGISTICAS_S.A.S] &gt; ping 200.91.200.101 src-address=200.62.61.169 vrf=INET SEQ HOST                                     SIZE TTL TIME       STATUS                                                                                         0 200.91.200.101                             56  62 18ms174us    1 200.91.200.101                             56  62 18ms102us    2 200.91.200.101                             56  62 18ms213us    3 200.91.200.101                             56  62 17ms994us    4 200.91.200.101                             56  62 18ms522us    5 200.91.200.101                             56  62 18ms332us    6 200.91.200.101                             56  62 18ms178us    7 200.91.200.101                             56  62 18ms287us    8 200.91.200.101                             56  62 17ms997us    9 200.91.200.101                             56  62 18ms574us   10 200.91.200.101                             56  62 18ms620us   11 200.91.200.101                             56  62 18ms56us    12 200.91.200.101                             56  62 18ms76us    13 200.91.200.101                             56  62 18ms109us ","attachment":{}},{"id":"155199927","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 9:29 AM","datesecs":1752510540000,"message":"Se comunica cliente 3174356753 indicando que sigue con las intermitencias, caso anterior TT1089888","attachment":{}},{"id":"155199929","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 9:29 AM","datesecs":1752510540000,"message":" INFORME DE TICKET Asunto Nuevo Caso TT1092867 - PERFILES Y SOLUCIONES LOGISTICAS S.A.S. Asunto del Ticket Intermitencias N&uacute;mero de Ticket TT1092867 Fecha y Hora de Creaci&oacute;n del Ticket 14/07/2025 8:26 AM Tipo del Caso Incidencia Estado Asignado Categoría Intermitencias Nombre Del Servicio 1789241-IFX Internet Premium Direccion de Instalacion Centro Empresarial Buenavista, Carrera 53 No. 106 - 280, Piso 16, Barranquilla Nombre Del Servicio 2147449-IFX MPLS Direccion de Instalacion Centro Empresarial Buenavista, Carrera 53 No. 106 - 280, Piso 16, Barranquilla ","attachment":{}},{"id":"155198906","author":{"id":"-4","value":"kmontanez@leangroup.com"},"authoremail":"kmontanez@leangroup.com","date":"07/14/2025 9:55 AM","datesecs":1752512100000,"message":" v\\:* {behavior:url(#default#VML);} o\\:* {behavior:url(#default#VML);} w\\:* {behavior:url(#default#VML);} .shape {behavior:url(#default#VML);} Kristhian Montañez Jr Network Support Lean Solutions Group +57 317.435.6753 kmontanez@leangroup.com www.leangroup.com Operations | Marketing | Technology | BPO | Sales From: Kristhian Montañez &lt;kmontanez@leangroup.com&gt; Sent: Monday, July 14, 2025 8:52 AM To: SOPORTE TECNICO EXT &lt;cases.1325230.38782467_155199929.3d61b47257@1325230.email.netsuite.com&gt;; Lina Maryory Garcia Yepes &lt;lmgarciay@ifxcorp.com&gt;; Yeny Lorena Jaramillo Lopez &lt;yjaramillo@ifxcorp.com&gt;; maamezquita@ifxcorp.com; EDGAR HUMBERTO REYES OTALORA &lt;ehreyes@ifxcorp.com&gt;; jyara@ifxcorp.com Cc: IT Network Team &lt;it.security@leangroup.com&gt; Subject: RE: NOTIFICACION CREACIÓN DE CASO TT1092867 Estimados señores de IFX, Buen día. Me comunico nuevamente con ustedes para reportar una situación que se ha vuelto recurrente y que está afectando considerablemente nuestras operaciones. La semana pasada, específicamente el 9 de julio, abrí un caso TT1089888 relacionado con múltiples intermitencias en los servicios que nos proveen, y hoy me veo en la necesidad de abrir un nuevo caso por el mismo motivo. Entiendo que se certificaron el canal y la MPLS en su momento, y agradezco las gestiones realizadas. Sin embargo, este tipo de inconvenientes no deberían estar ocurriendo con tanta frecuencia. Es preocupante que, mientras nosotros enfrentamos estas dificultades con nuestros clientes, los reportes de ustedes (IFX) siempre reflejen un estado óptimo del servicio, como si no estuviera sucediendo nada. Por favor, les solicito que prioricen este caso y nos brinden una solución efectiva lo antes posible.Hoy, desde primera hora, hemos recibido reportes de nuevos inconvenientes, lo cual refuerza la urgencia de esta solicitud. Quedo atento a su pronta respuesta y solución. Kristhian Montañez Jr Network Support Lean Solutions Group +57 317.435.6753 kmontanez@leangroup.com www.leangroup.com Operations | Marketing | Technology | BPO | Sales From: SOPORTE TECNICO EXT &lt;care@ifxcorp.com&gt; Sent: Monday, July 14, 2025 8:30 AM To: Kristhian Montañez &lt;kmontanez@leangroup.com&gt; Subject: NOTIFICACION CREACIÓN DE CASO [EXTERNAL EMAIL] DO NOT CLICK links or attachments unless you recognize the sender and know the content is safe. INFORME DE TICKET Asunto Nuevo Caso TT1092867 - PERFILES Y SOLUCIONES LOGISTICAS S.A.S. Asunto del Ticket Intermitencias Número de Ticket TT1092867 Fecha y Hora de Creación del Ticket 14/07/2025 8:26 AM Tipo del Caso Incidencia Estado Asignado Categoría Intermitencias Nombre Del Servicio 1789241-IFX Internet Premium Direccion de Instalacion Centro Empresarial Buenavista, Carrera 53 No. 106 - 280, Piso 16, Barranquilla Nombre Del Servicio 2147449-IFX MPLS Direccion de Instalacion Centro Empresarial Buenavista, Carrera 53 No. 106 - 280, Piso 16, Barranquilla This communication may contain confidential or privileged information. Unauthorized use of this communication is strictly prohibited and may be unlawful. If you have received this communication in error, please immediately notify the sender by reply e-mail and destroy all copies of the communication and any attachments. ","attachment":{}},{"id":"155200371","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 9:36 AM","datesecs":1752510960000,"message":"Se revisan enlaces operativos sin perdidas:COBAQOFI1006X1#ping 172.16.233.114                    Type escape sequence to abort.Sending 5, 100-byte ICMP Echos to 172.16.233.114, timeout is 2 seconds:!!!!!Success rate is 100 percent (5/5), round-trip min/avg/max = 2/6/24 ms COBAQOFI1006X1#sho running-config interface BD3769Building configuration...Current configuration : 324 bytes!interface BDI3769description 2147449 #- IFX DATA Transport #- 200MB_VID:2642-3769 #- 330806_PERFILES Y SOLUCIONES LOGISTICAS S.A.S. #- Centro Buenavista, Cra 53 No. 106 - 280, Piso 16, Bqlla #- UFINET ## FIBRA_COCOIFX10105929Cip vrf forwarding PERFILESip address 172.17.55.149 255.255.255.252load-interval 30endCOBAQOFI1006X1#ping vrf PERFILES 172.17.55.150 repeat 500 size 1500Type escape sequence to abort.Sending 500, 1500-byte ICMP Echos to 172.17.55.150, timeout is 2 seconds:!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Success rate is 100 percent (500/500), round-trip min/avg/max = 1/1/3 ms","attachment":{}},{"id":"155201169","author":{"id":"-4","value":"kmontanez@leangroup.com"},"authoremail":"kmontanez@leangroup.com","date":"07/14/2025 9:52 AM","datesecs":1752511920000,"message":" v\\:* {behavior:url(#default#VML);} o\\:* {behavior:url(#default#VML);} w\\:* {behavior:url(#default#VML);} .shape {behavior:url(#default#VML);} Estimados señores de IFX, Buen día. Me comunico nuevamente con ustedes para reportar una situación que se ha vuelto recurrente y que está afectando considerablemente nuestras operaciones. La semana pasada, específicamente el 9 de julio, abrí un caso TT1089888 relacionado con múltiples intermitencias en los servicios que nos proveen, y hoy me veo en la necesidad de abrir un nuevo caso por el mismo motivo. Entiendo que se certificaron el canal y la MPLS en su momento, y agradezco las gestiones realizadas. Sin embargo, este tipo de inconvenientes no deberían estar ocurriendo con tanta frecuencia. Es preocupante que, mientras nosotros enfrentamos estas dificultades con nuestros clientes, los reportes de ustedes (IFX) siempre reflejen un estado óptimo del servicio, como si no estuviera sucediendo nada. Por favor, les solicito que prioricen este caso y nos brinden una solución efectiva lo antes posible.Hoy, desde primera hora, hemos recibido reportes de nuevos inconvenientes, lo cual refuerza la urgencia de esta solicitud. Quedo atento a su pronta respuesta y solución. Kristhian Montañez Jr Network Support Lean Solutions Group +57 317.435.6753 kmontanez@leangroup.com www.leangroup.com Operations | Marketing | Technology | BPO | Sales From: SOPORTE TECNICO EXT &lt;care@ifxcorp.com&gt; Sent: Monday, July 14, 2025 8:30 AM To: Kristhian Montañez &lt;kmontanez@leangroup.com&gt; Subject: NOTIFICACION CREACIÓN DE CASO [EXTERNAL EMAIL] DO NOT CLICK links or attachments unless you recognize the sender and know the content is safe. INFORME DE TICKET Asunto Nuevo Caso TT1092867 - PERFILES Y SOLUCIONES LOGISTICAS S.A.S. Asunto del Ticket Intermitencias Número de Ticket TT1092867 Fecha y Hora de Creación del Ticket 14/07/2025 8:26 AM Tipo del Caso Incidencia Estado Asignado Categoría Intermitencias Nombre Del Servicio 1789241-IFX Internet Premium Direccion de Instalacion Centro Empresarial Buenavista, Carrera 53 No. 106 - 280, Piso 16, Barranquilla Nombre Del Servicio 2147449-IFX MPLS Direccion de Instalacion Centro Empresarial Buenavista, Carrera 53 No. 106 - 280, Piso 16, Barranquilla This communication may contain confidential or privileged information. Unauthorized use of this communication is strictly prohibited and may be unlawful. If you have received this communication in error, please immediately notify the sender by reply e-mail and destroy all copies of the communication and any attachments. ","attachment":{}},{"id":"155207618","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 11:37 AM","datesecs":1752518220000,"message":"Respuesta Ufinet:Estimado cliente,Se realizó la verificación del servicio reportado, y no hallamos caídas de las interfaces, tanto físicas como en la etiqueta virtual, se denotan niveles óptimos en la fibra:Desde el última milla:COATBARIFXSCPUFNPERFILES01#sho transceiver ddm nni 1If device is externally calibrated, only calibrated values are printed.++ : high alarm, + : high warning, - : low warning, -- : low alarm, * :normalTx: transmit, Rx: receive, mA: milliamperes.Port: nni1ParaName            Unit                Value               Status-------------------------------------------------------------------Temperature         Celsius             47.3                * Tx bias Current     mA                  32.1                * Optical Tx Power    dBm                 -5.6                * Optical Rx Power    dBm                 -8.3                * Supply Voltage      Volts               3.351               *Desde el switch de acceso:COATBARRIOSWAUFN01#sho transceiver  ddm port-list 11,49If device is externally calibrated, only calibrated values are printed.++ : high alarm, +  : high warning, -   : low warning, -- : low alarm, * :normalTx: transmit, Rx: receive, mA: milliamperes.Port: port11ParaName                 Unit                Value               Status-----------------------------------------------------------------------Temperature              Celsius                39.6280            * Tx bias Current          mA                     23.1560            * Optical Tx Power         dBm                    -4.7360            * Optical Rx Power         dBm                   -11.6170            * Supply Voltage           Volts                   3.3130            * Port: port49ParaName                 Unit                Value               Status-----------------------------------------------------------------------Temperature              Celsius                46.6870            * Tx bias Current          mA                     19.7720            * Optical Tx Power         dBm                    -2.6680            * Optical Rx Power         dBm                    -2.6680            * Supply Voltage           Volts                   3.2210            *No se evidencian pérdidas de paquetes a nivel MPLS:Desde la interconexión hacia el RTA:COATBARIFXRPEIFX_BAQ01#ping mpls ipv4 172.17.49.71/32 source 172.17.28.203  size 1500 repeat 1500Sending 1500, 1500-byte MPLS Echos to 172.17.49.71/32,     timeout is 2 seconds, send interval is 0 msec:Codes: '!' - success, 'Q' - request not sent, '.' - timeout,Type escape sequence to abort.!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Success rate is 100 percent (1500/1500), round-trip min/avg/max = 1/4/24 msDesde el RTA hacia la interconexión:RP/0/RP0/CPU0:COATBARRIORTAUFN01#ping mpls pse 172.17.28.203   57376901 size 1500 repeat 1500Mon Jul 14 10:14:53.695 -05Sending 1500, 1500-byte MPLS Echos to 172.17.28.203 VC: 57376901,     timeout is 2 seconds, send interval is 0 msec:Codes: '!' - success, 'Q' - request not sent, '.' - timeout,Type escape sequence to abort.!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Success rate is 100 percent (1500/1500), round-trip min/avg/max = 3/3/59 msAgradecemos que se mantenga en contacto con UFINET. Quedamos atentos a sus comentarios y a cualquier información adicional que pueda proporcionarnos. Cordial saludo,","attachment":{}},{"id":"155209970","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 12:13 PM","datesecs":1752520380000,"message":"Se realiza corrección del monitoreo Orion ya que hace unos meses se habia cambiado la ip: 200.62.12.149  ","attachment":{}},{"id":"155275398","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/15/2025 1:58 PM","datesecs":1752613080000,"message":"Cliente reporta nuevas intermitencias en la vlan 10 (Internet) adjunta su monitoreo:","attachment":{}},{"id":"155275945","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/15/2025 2:10 PM","datesecs":1752613800000,"message":"Se verifica monitoreo Orion no se evidencian las caidas informadas por el cliente:","attachment":{}},{"id":"155222392","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 3:50 PM","datesecs":1752533400000,"message":"Enlace continua operativo y estable:COBAQOFI1006X1#ping 200.62.61.169 repeat 1000 size 1500Type escape sequence to abort.Sending 1000, 1500-byte ICMP Echos to 200.62.61.169, timeout is 2 seconds:!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Success rate is 100 percent (1000/1000), round-trip min/avg/max = 1/1/49 ms","attachment":{}},{"id":"155261412","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/15/2025 9:55 AM","datesecs":1752598500000,"message":"Contacto con cliente: Se habla con cliente via Whatsaap  y se solicita validar el estado actual del enlace.","attachment":{}},{"id":"155218689","author":{"id":"3526906","value":"MARIA CAMILA CASTILLO ALDANA"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 2:44 PM","datesecs":1752529440000,"message":"Número de ticket:TIK-649974-L6R2 Fecha y hora de creación (GMT-6):14/07/2025 7:59 Nombre del cliente:IFX NETWORKS COLOMBIA SAS Número de Ticket Interno:TT1092867 Tipo de Incidencia:Degradación Identificador de Servicio:COCOIFX10105929C   Servicio Afectado:Capacidad Ethernet 500Mbps // 1789241 2147449 PERFILES Y SOLUCIONES LOGISTICAS S.A.S. BARRANQUILLA   Fecha y hora de seguimiento (GMT-6):        14/07/2025 12:38 PM Estimado cliente, Validando el equipo Switch, efectivamente se observaba la IP: 172.16.233.114, se procedió con el cambio y actualmente ya se encuentra normalizad. Favor indicarnos cómo observan el servicio. Quedamos atentos a sus comentarios. Cordiales saludos.14/07/2025 09:16 AM Estimado cliente, Se realizó la verificación del servicio reportado, y no hallamos caídas de las interfaces, tanto físicas como en la etiqueta virtual, se denotan niveles óptimos en la fibra: Desde el última milla: COATBARIFXSCPUFNPERFILES01#sho transceiver ddm nni 1 If device is externally calibrated, only calibrated values are printed. ++ : high alarm, + : high warning, - : low warning, -- : low alarm, * :normal Tx: transmit, Rx: receive, mA: milliamperes. Port: nni1 ParaName Unit Value Status ------------------------------------------------------------------- Temperature Celsius 47.3 *  Tx bias Current mA 32.1 *  Optical Tx Power dBm -5.6 *  Optical Rx Power dBm -8.3 *  Supply Voltage Volts 3.351 * Desde el switch de acceso: COATBARRIOSWAUFN01#sho transceiver ddm port-list 11,49 If device is externally calibrated, only calibrated values are printed. ++ : high alarm, + : high warning, - : low warning, -- : low alarm, * :normal Tx: transmit, Rx: receive, mA: milliamperes. Port: port11 ParaName Unit Value Status ----------------------------------------------------------------------- Temperature Celsius 39.6280 *  Tx bias Current mA 23.1560 *  Optical Tx Power dBm -4.7360 *  Optical Rx Power dBm -11.6170 *  Supply Voltage Volts 3.3130 *  Port: port49 ParaName Unit Value Status ----------------------------------------------------------------------- Temperature Celsius 46.6870 *  Tx bias Current mA 19.7720 *  Optical Tx Power dBm -2.6680 *  Optical Rx Power dBm -2.6680 *  Supply Voltage Volts 3.2210 * No se evidencian pérdidas de paquetes a nivel MPLS: Desde la interconexión hacia el RTA: COATBARIFXRPEIFX_BAQ01#ping mpls ipv4 172.17.49.71/32 source 172.17.28.203 size 1500 repeat 1500 Sending 1500, 1500-byte MPLS Echos to 172.17.49.71/32, timeout is 2 seconds, send interval is 0 msec: Codes: '!' - success, 'Q' - request not sent, '.' - timeout, Type escape sequence to abort. !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Success rate is 100 percent (1500/1500), round-trip min/avg/max = 1/4/24 ms Desde el RTA hacia la interconexión: RP/0/RP0/CPU0:COATBARRIORTAUFN01#ping mpls pse 172.17.28.203 57376901 size 1500 repeat 1500 Mon Jul 14 10:14:53.695 -05 Sending 1500, 1500-byte MPLS Echos to 172.17.28.203 VC: 57376901, timeout is 2 seconds, send interval is 0 msec: Codes: '!' - success, 'Q' - request not sent, '.' - timeout, Type escape sequence to abort. !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Success rate is 100 percent (1500/1500), round-trip min/avg/max = 3/3/59 ms Agradecemos que se mantenga en contacto con UFINET. Quedamos atentos a sus comentarios y a cualquier información adicional que pueda proporcionarnos. Cordial saludo,14/07/2025 08:35 AM Estimado cliente Le informamos que nos encontramos realizando las respectivas validaciones con respecto a su solicitud. En breve le compartiremos los resultados correspondientes. Gracias por estar en contacto con UFINET, para nosotros es fundamental atender sus solicitudes garantizando un excelente servicio. Cordiales saludos.14/07/2025 07:59 AM We inform you that the ticket number TIK-649974-L6R2, has been created.  ","attachment":{}},{"id":"155216557","author":{"id":"3526906","value":"MARIA CAMILA CASTILLO ALDANA"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 1:57 PM","datesecs":1752526620000,"message":"Número de ticket:TIK-649974-L6R2 Fecha y hora de creación (GMT-6):14/07/2025 7:59 Nombre del cliente:IFX NETWORKS COLOMBIA SAS Número de Ticket Interno:TT1092867 Tipo de Incidencia:Degradación Identificador de Servicio:COCOIFX10105929C   Servicio Afectado:Capacidad Ethernet 500Mbps // 1789241 2147449 PERFILES Y SOLUCIONES LOGISTICAS S.A.S. BARRANQUILLA   Fecha y hora de seguimiento (GMT-6):        14/07/2025 09:16 AM Estimado cliente, Se realizó la verificación del servicio reportado, y no hallamos caídas de las interfaces, tanto físicas como en la etiqueta virtual, se denotan niveles óptimos en la fibra: Desde el última milla: COATBARIFXSCPUFNPERFILES01#sho transceiver ddm nni 1If device is externally calibrated, only calibrated values are printed.++ : high alarm, + : high warning, - : low warning, -- : low alarm, * :normalTx: transmit, Rx: receive, mA: milliamperes. Port: nni1ParaName            Unit                Value               Status-------------------------------------------------------------------Temperature         Celsius             47.3                * Tx bias Current     mA                  32.1                * Optical Tx Power    dBm                 -5.6                * Optical Rx Power    dBm                 -8.3                * Supply Voltage      Volts               3.351               *  Desde el switch de acceso: COATBARRIOSWAUFN01#sho transceiver  ddm port-list 11,49If device is externally calibrated, only calibrated values are printed.++ : high alarm, +  : high warning, -   : low warning, -- : low alarm, * :normalTx: transmit, Rx: receive, mA: milliamperes. Port: port11ParaName                 Unit                Value               Status-----------------------------------------------------------------------Temperature              Celsius                39.6280            * Tx bias Current          mA                     23.1560            * Optical Tx Power         dBm                    -4.7360            * Optical Rx Power         dBm                   -11.6170            * Supply Voltage           Volts                   3.3130            * Port: port49ParaName                 Unit                Value               Status-----------------------------------------------------------------------Temperature              Celsius                46.6870            * Tx bias Current          mA                     19.7720            * Optical Tx Power         dBm                    -2.6680            * Optical Rx Power         dBm                    -2.6680            * Supply Voltage           Volts                   3.2210            *  No se evidencian pérdidas de paquetes a nivel MPLS: Desde la interconexión hacia el RTA: COATBARIFXRPEIFX_BAQ01#ping mpls ipv4 172.17.49.71/32 source 172.17.28.203 size 1500 repeat 1500Sending 1500, 1500-byte MPLS Echos to 172.17.49.71/32,      timeout is 2 seconds, send interval is 0 msec: Codes: '!' - success, 'Q' - request not sent, '.' - timeout, Type escape sequence to abort.!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Success rate is 100 percent (1500/1500), round-trip min/avg/max = 1/4/24 ms Desde el RTA hacia la interconexión: RP/0/RP0/CPU0:COATBARRIORTAUFN01#ping mpls pse 172.17.28.203   57376901 size 1500 repeat 1500Mon Jul 14 10:14:53.695 -05 Sending 1500, 1500-byte MPLS Echos to 172.17.28.203 VC: 57376901,      timeout is 2 seconds, send interval is 0 msec: Codes: '!' - success, 'Q' - request not sent, '.' - timeout, Type escape sequence to abort. !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Success rate is 100 percent (1500/1500), round-trip min/avg/max = 3/3/59 ms Agradecemos que se mantenga en contacto con UFINET. Quedamos atentos a sus comentarios y a cualquier información adicional que pueda proporcionarnos.  Cordial saludo, 14/07/2025 08:35 AM Estimado cliente Le informamos que nos encontramos realizando las respectivas validaciones con respecto a su solicitud. En breve le compartiremos los resultados correspondientes. Gracias por estar en contacto con UFINET, para nosotros es fundamental atender sus solicitudes garantizando un excelente servicio. Cordiales saludos.14/07/2025 07:59 AM We inform you that the ticket number TIK-649974-L6R2, has been created.   ","attachment":{}},{"id":"155217349","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/14/2025 2:22 PM","datesecs":1752528120000,"message":"Se solicita al cliente traza a las aplicaciones que tiene lentitud, indica que en este momento desconectó el enlace y esta usando uno de otro proveedor. Quedamos en espera a que nos envie esta información. ","attachment":{}},{"id":"155289013","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/15/2025 5:57 PM","datesecs":1752627420000,"message":"Se realiza ajuste en velocidad del puerto lan Ethernet 2, se cambia a modo auto. Se notifica al cliente quien indica que actualmente esta usando el enlace en modo balanceo de cargas con su otro proveedor. Caso continua en monitoreo. ","attachment":{}},{"id":"155310735","author":{"id":"3516616","value":"CAMILO ANDRES BUITRAGO AREVALO"},"authoremail":"care@ifxcorp.com","date":"07/16/2025 3:45 AM","datesecs":1752662700000,"message":"servicio sin intermitencias COBAQOFI1006X1#ping 200.62.61.169 repeat 1000 size 1500Type escape sequence to abort.Sending 1000, 1500-byte ICMP Echos to 200.62.61.169, timeout is 2 seconds:!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Success rate is 100 percent (1000/1000), round-trip min/avg/max = 1/1/4 msCOBAQOFI1006X1# ","attachment":{}},{"id":"155321569","author":{"id":"3531337","value":"RICARDO  VELASCO ARCOS"},"authoremail":"care@ifxcorp.com","date":"07/16/2025 9:02 AM","datesecs":1752681720000,"message":"Caso continua en monitoreo.","attachment":{}},{"id":"155345993","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"07/16/2025 4:31 PM","datesecs":1752708660000,"message":" INFORME DE CASO --> Número de Caso TT1092867 customer {customer.id} caseid {id} --> Fecha y Hora de Apertura del Caso 14/07/2025 8:26 AM Fecha y Hora de Operabilidad de los Servicios 07/14/2025 08:36 Servicios Asociados 1789241-IFX Internet Premium,2147449-IFX MPLS Descripción del Caso Cliente reporta intermitencias en enlace de interne, se realiza cambio de negociación en puerto lan, cliente confirma estabilidad. Acciones realizadas Cliente reporta intermitencias en enlace de interne, se realiza cambio de negociación en puerto lan, cliente confirma estabilidad. Imputabilidad Cliente Persona que Autoriza la Operabilidad y Cierre del Caso Kristian Montañez ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT1092867 ?Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT1092867 ? Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio --> --> ","attachment":{}},{"id":"155344080","author":{"id":"3531645","value":"JORGE AUGUSTO MARQUEZ VELANDIA"},"authoremail":"care@ifxcorp.com","date":"07/16/2025 4:04 PM","datesecs":1752707040000,"message":"Se confirma operatividad con el sr Kristian Montañez 317 4356753 quien autoriza cierre del caso.","attachment":{}},{"id":"155345988","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"07/16/2025 4:31 PM","datesecs":1752708660000,"message":" INFORME DE CASO --> Número de Caso TT1092867 customer {customer.id} caseid {id} --> Fecha y Hora de Apertura del Caso 14/07/2025 8:26 AM Fecha y Hora de Operabilidad de los Servicios 07/14/2025 08:36 Servicios Asociados 1789241-IFX Internet Premium,2147449-IFX MPLS Descripción del Caso Cliente reporta intermitencias en enlace de interne, se realiza cambio de negociación en puerto lan, cliente confirma estabilidad. Acciones realizadas Cliente reporta intermitencias en enlace de interne, se realiza cambio de negociación en puerto lan, cliente confirma estabilidad. Imputabilidad Cliente Persona que Autoriza la Operabilidad y Cierre del Caso Kristian Montañez ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT1092867 ?Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT1092867 ? Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio --> --> ","attachment":{}}],"cierre":{"CaseId":"38782467","Company":"PERFILES Y SOLUCIONES LOGISTICAS S.A.S.","Imputabilidad":"Cliente","Responsable":"JORGE AUGUSTO MARQUEZ VELANDIA","Unavailable_Minutes":"0","unavailable_to_report_minutes":"0","Type_of_Unavailable":"No Aplica","date_upgrade_services_affecte":"07/14/2025 9:36:00 AM","General_description_cause":"Eventualidad","Servicio":"1789241-IFX Internet Premium,2147449-IFX MPLS","Area":"CARE","person_confirms_closure":"Kristian Montañez","overview_fall":"","Reason_for_Closing":"Bloqueo","SubReason_for_Closing":"","Equipment":"","Node":"","Displacement":"F","Reason_Displacement":"","Include_Report":"T","Cause_Internal_Error":"N/A","email_confirm_close":"Kmontanez@leangroup.com","Development_Process_Realized":"Cliente reporta intermitencias en enlace de interne, se realiza cambio de negociación en puerto lan, cliente confirma estabilidad.","Incident_Description":"Cliente reporta intermitencias en enlace de interne, se realiza cambio de negociación en puerto lan, cliente confirma estabilidad.","Action_Plan":"N/A"},"sentiment":"MIXTO"},"webhookUrl":"https://n8n.aifx.com.co/webhook/analytics_sent","executionMode":"production"}}]},"versionId":"bee17b8e-b67e-44bb-979f-7e94cb04dd56","triggerCount":1,"tags":[]}