workflows/AnalisisErroesPortal.json
{"createdAt":"2025-06-04T20:28:47.962Z","updatedAt":"2025-07-14T15:40:26.000Z","id":"ChjdeH3bXGP9cEQt","name":"AnalisisErroesPortal","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"errorslogs","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,-120],"id":"1f24db51-3674-49e4-95c6-2e6d77073286","name":"Webhook","webhookId":"c0f60412-e77a-45e3-839c-21d640de5307"},{"parameters":{"operation":"insert","collection":"log_error_portal","fields":"=timestamp,username,moduleName,customerid,customerName,email,actionName,error,url,httperrorname,message,errorMessage,browser,device,ip","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[320,-140],"id":"b7b1b3a7-869a-4438-af3c-96b69a7944d6","name":"MongoDB","credentials":{"mongoDb":{"id":"GlPbQtJv6wW22OFC","name":"MongoDB account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"f02512c3-e9ec-4a7b-90fa-186c24cca09c","name":"timestamp","value":"={{ $now }}","type":"string"},{"id":"01271c94-845f-4059-a863-ca393c060e28","name":"username","value":"={{ $json.body[0].userName }}","type":"string"},{"id":"a29f7df6-6f5e-492c-bb5e-5fd5104ac8b5","name":"moduleName","value":"={{ $json.body[0].moduleName }}","type":"string"},{"id":"961bc413-820a-4fcd-a440-96fa23b69188","name":"customerName","value":"={{ $json.body[0].customerName }}","type":"string"},{"id":"4b09beb8-4af0-414c-b23a-6fb8341eddf2","name":"email","value":"={{ $json.body[0].email }}","type":"string"},{"id":"3159f15c-e435-4e59-8c7a-c895c3e1c18c","name":"actionName","value":"={{ $json.body[0].actionName }}","type":"string"},{"id":"bfd33cad-7fbc-4341-a6c0-56196ce35f68","name":"error","value":"={{ $json.body[0].error }}","type":"string"},{"id":"87672c23-051a-47f0-ba12-dc7df1f1c734","name":"url","value":"={{ $json.body[0].error.url }}","type":"string"},{"id":"9e801dad-c6a9-4eda-98d1-558cc012b986","name":"httperrorname","value":"={{ $json.body[0].error.status }}","type":"string"},{"id":"6091d4d8-72e3-4a1f-b618-d7728e4015f3","name":"message","value":"={{ $json.body[0].error.message }}","type":"string"},{"id":"e705518f-35c7-4afc-a4c8-bd22b32ac7ee","name":"errorMessage","value":"={{ $json.body[0].error.error }}","type":"string"},{"id":"63253256-3df4-419b-a695-460110b1a328","name":"browser","value":"={{ $json.body[0].browser }}","type":"string"},{"id":"534c0a60-c662-4d9c-83c0-30d1a6b60706","name":"device","value":"={{ $json.body[0].device }}","type":"string"},{"id":"4dab58ab-6bc9-472e-ad3d-143e62eb6c2d","name":"ip","value":"={{ $json.body[0].ip }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,-120],"id":"72e7fe21-5308-43d9-acf1-79aa82c4babe","name":"CamposLogs","onError":"continueErrorOutput"}],"connections":{"Webhook":{"main":[[{"node":"CamposLogs","type":"main","index":0}]]},"CamposLogs":{"main":[[{"node":"MongoDB","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timezone":"America/Bogota"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"181.59.3.95","x-forwarded-for":"181.59.3.95","x-forwarded-proto":"https","connection":"upgrade","content-length":"634","accept":"application/json, text/plain, */*","content-type":"application/json","authorization":"__n8n_BLANK_VALUE_e5362baf-c777-4d57-a609-6eaf1f9e87f6","user-agent":"axios/1.7.7","accept-encoding":"gzip, compress, deflate, br"},"params":{},"query":{},"body":[{"userName":"Soporte nivel I","moduleName":"/v1/servicios","customerId":"24209","customerName":"CLIENTE DE PRUEBA","email":"extranetsoporteifx@gmail.com","actionName":"/api/service/getCancelledServicesOptimized","error":{"headers":{"normalizedNames":{},"lazyUpdate":null},"status":500,"statusText":"Internal Server Error","url":"http://localhost:3000/api/service/getCancelledServicesOptimized","ok":false,"name":"HttpErrorResponse","message":"Http failure response for http://localhost:3000/api/service/getCancelledServicesOptimized: 500 Internal Server Error","error":null},"browser":"Chrome","device":"desktop","ip":"181.59.3.95"}],"webhookUrl":"https://n8n.aifx.com.co/webhook/errorslogs","executionMode":"production"}}]},"versionId":"efdd424f-71d5-4aed-8e94-e8c5569c6546","triggerCount":1,"tags":[]}