workflows/Analisis de Sentimiento Tickets.json
{"createdAt":"2025-04-15T20:50:21.160Z","updatedAt":"2025-07-21T13:00:57.000Z","id":"6OPoBMQaHUd7Qhlm","name":"Analisis de Sentimiento Tickets","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"analytics_sent","responseMode":"lastNode","options":{"allowedOrigins":"*","rawBody":"={{ true }}","responseContentType":"application/json"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-440,-160],"id":"5ac3fa16-8d14-47da-a49c-0ff6929fec08","name":"Webhook","webhookId":"b9086e5a-7118-4682-9d60-8a116a55592b"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json; // El JSON validado y completo\n\nconst info = data.info || {};\nconst cierre = data.cierre || {};\nconst messages = data.messages || [];\n\n// Lista de disclaimers a eliminar (puedes agregar más si surgen otros)\nconst disclaimers = [\n  `***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema.`,\n  `***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system.`,\n  `***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema.`,\n];\n\n// Crear encabezado del ticket\nlet markdown = `# Ticket: ${info.casenumber || 'N/A'}\\n\\n`;\nmarkdown += `**Cliente:** ${info.customerName || 'N/A'}  \\n`;\nmarkdown += `**ID Cliente:** ${info.customerID || 'N/A'}  \\n`;\nmarkdown += `**Estado:** ${info.status?.value || 'N/A'}  \\n`;\nmarkdown += `**Prioridad:** ${info.customerType || 'N/A'}  \\n\\n`;\n\n// Sección de interacciones\nmarkdown += `## Historial de Interacciones\\n\\n`;\n\nif (messages.length > 0) {\n  messages\n    .filter(msg => msg.message && !msg.message.includes('[IMAGE]'))\n    .forEach(msg => {\n      const fecha = msg.date || 'Fecha desconocida';\n\n      // Eliminar todos los disclaimers conocidos\n      let mensajeLimpio = msg.message;\n      disclaimers.forEach(texto => {\n        mensajeLimpio = mensajeLimpio.replaceAll(texto, '');\n      });\n\n      // Limpiar espacios\n      mensajeLimpio = mensajeLimpio\n        .replace(/\\n/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n\n      // Eliminar comillas simples y dobles\n      mensajeLimpio = mensajeLimpio.replace(/['\"]/g, '');\n      \n      markdown += `### ${msg.author?.value || 'Anónimo'} - ${fecha}\\n`;\n      markdown += `${mensajeLimpio}\\n\\n`;\n    });\n} else {\n  markdown += \"* No hay interacciones registradas\\n\\n\";\n}\n\n// Sección de cierre\nif (cierre && Object.keys(cierre).length > 0) {\n  markdown += `## Detalles de Cierre\\n\\n`;\n  markdown += `**Motivo:** ${cierre.Reason_for_Closing || 'N/A'}  \\n`;\n  markdown += `**Responsable:** ${cierre.Responsable || 'N/A'}  \\n`;\n  markdown += `**Descripción:** ${cierre.Incident_Description || 'N/A'}  \\n\\n`;\n}\n\n// Devolver como objeto que n8n espera\nreturn {\n  json: {\n    markdownContent: markdown,\n    ticketId: info.casenumber,\n    sentimient:$json.sentiment,\n    customerId: info.customerID,\n    status: info.status?.value\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-180],"id":"59da43a7-2d31-407a-a4c0-1eaf5d54ecd9","name":"Code","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"={{ $('ValidoJson').item.json.info.customerName }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('ValidoJson').item.json.info.customerID }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"tipoCliente","value":"={{ $('ValidoJson').item.json.info.customerType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,100],"id":"d9e51775-7ab8-4712-9133-c75bb3ca6063","name":"Formateo de Campos"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2600,1000],"id":"8b88ac20-8ec6-498a-a7b7-1cd5ced71831","name":"OpenAI Chat Model2","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utiliza Llama 30B"},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Formateo de Campos').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $('Formateo de Campos').item.json.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"tipoCliente","value":"={{ $('Formateo de Campos').item.json.tipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Formateo de Campos').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"d6b6375b-a54b-4b90-9d48-12eaaeec2179","name":"sentimentAnalysis.strength","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"755c9bd0-09b5-482b-9e3e-c9face2e5d46","name":"sentimentAnalysis.confidence","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"625ad804-8ed9-4233-ac8e-20b8e7d06b63","name":"info.startdate","value":"={{ $('ValidoJson').item.json.info.startdate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3400,0],"id":"49cf1e48-e743-4da5-b0ac-b0f44d46f66c","name":"Formato de Salida Endpoint_2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3900,200],"id":"01b55b63-01e7-4690-82aa-3cd463953077","name":"Merge"},{"parameters":{"jsCode":"// Acceder correctamente a los datos en n8n\nconst items = $input.all();\nconst result = [];\n\nfor (let i = 0; i < items.length; i++) {\n  // Crear una copia del objeto json\n  const newJson = {...items[i].json};\n  \n  // Convertir customerId a número\n  newJson.customerId = Number(newJson.customerId);\n  \n  // Crear un nuevo objeto item con el json modificado\n  const newItem = {\n    json: newJson\n  };\n  \n  // Añadir al array de resultados\n  result.push(newItem);\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4100,200],"id":"faad6b84-c839-4bb2-9b58-a6b6abe1aa47","name":"ConverToIntegerCID"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"where":{"values":[{"column":"caseid","value":"={{ $json.ticketId }}"}]},"options":{"delayClosingIdleConnection":5}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-180],"id":"ba4991b1-3251-4b5a-8485-6c0e08ed55f0","name":"busca_tt","alwaysOutputData":true,"credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b62bee51-2b11-49c3-821a-2bcf233837f2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,-180],"id":"280764ed-51bf-41b8-81d2-84e5b5621321","name":"If"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"columns":{"mappingMode":"defineBelow","value":{"strength":"={{ $json.sentimentAnalysis.strength }}","confidence":"={{ $json.sentimentAnalysis.confidence }}","caseid":"={{ $json.ticketId }}","customer":"={{ $json.cliente }}","cid":"={{ $json.customerId }}","sentiment":"={{ $json.sentimentAnalysis.category }}","analisis":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caseid","displayName":"caseid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"strength","displayName":"strength","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"json_data","displayName":"json_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"analisis","displayName":"analisis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4280,200],"id":"52cef3e0-250e-4589-af8a-a4146270b59d","name":"Postgres","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Validar existencia general\nif (!input.info || !input.messages || !input.cierre) {\n  throw new Error('Faltan secciones del JSON: se esperaba \"info\", \"messages\" y \"cierre\" en el mismo objeto.');\n}\n\n// Función utilitaria para validar campos\nfunction validateField(obj, key, type = 'string', required = true) {\n  if (!obj.hasOwnProperty(key)) {\n    if (required) throw new Error(`Falta la clave: ${key}`);\n    return;\n  }\n  if (type === 'object') {\n    if (typeof obj[key] !== 'object' || obj[key] === null || Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un objeto`);\n    }\n  } else if (type === 'array') {\n    if (!Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un array`);\n    }\n  } else {\n    if (typeof obj[key] !== type) {\n      throw new Error(`La clave \"${key}\" debe ser de tipo ${type}`);\n    }\n  }\n}\n\n// Validar \"info\"\nconst info = input.info;\n\n['id', 'title', 'casenumber', 'customerID', 'customerName', 'customerType', 'startdate', 'enddate', 'phonealt']\n  .forEach(key => validateField(info, key));\n\n['assigned', 'type', 'type_event', 'creator', 'category', 'services', 'status']\n  .forEach(key => {\n    validateField(info, key, 'object');\n    validateField(info[key], 'id');\n    validateField(info[key], 'value');\n  });\n\n// Validar \"messages\"\nvalidateField(input, 'messages', 'array');\ninput.messages.forEach((msg, i) => {\n  try {\n    validateField(msg, 'id');\n    validateField(msg, 'author', 'object');\n    validateField(msg.author, 'id');\n    validateField(msg.author, 'value');\n    validateField(msg, 'authoremail');\n    validateField(msg, 'date');\n    validateField(msg, 'datesecs', 'number');\n    validateField(msg, 'message');\n    // \"attachment\" es opcional\n  } catch (e) {\n    throw new Error(`Error en messages[${i}]: ${e.message}`);\n  }\n});\n\n// Validar \"cierre\"\nconst cierre = input.cierre;\n\n[\n  'CaseId', 'Company', 'Imputabilidad', 'Responsable',\n  'Unavailable_Minutes', 'unavailable_to_report_minutes',\n  'Type_of_Unavailable', 'date_upgrade_services_affecte',\n  'General_description_cause', 'Servicio', 'Area',\n  'person_confirms_closure', 'overview_fall', 'Reason_for_Closing',\n  'SubReason_for_Closing', 'Equipment', 'Node', 'Displacement',\n  'Reason_Displacement', 'Include_Report', 'Cause_Internal_Error',\n  'email_confirm_close', 'Development_Process_Realized',\n  'Incident_Description', 'Action_Plan'\n].forEach(key => validateField(cierre, key, 'string', false));\n\n// ✅ Si todo es válido, retornar el JSON original\nreturn [{ \n    json: input \n  }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-140,-160],"id":"f1c8d964-cc15-4db2-9058-c00d72cc8eab","name":"ValidoJson","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb42c2f-9353-4efe-86a6-4cbd44dd8af5","leftValue":"={{ $json.info }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,-160],"id":"0505b532-7798-4552-bf49-4e2bcfb8b0cf","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !  {{ $json.message }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-460],"id":"cd6ba465-a9b2-4069-aa27-eba497f2b4c9","name":"ErrorJsonOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2620,360],"id":"80d65ad8-b4e4-45f2-bfc1-fa2cef844969","name":"OpenAI Chat Model3","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utiliza llama 8B"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8261ecd4-5d63-40d3-a197-84ec088319e4","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Positive","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Positive"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64d5b656-1482-4e21-bd2b-70b111912126","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"POSITIVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POSITIVO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8ac4b5e-0426-4b4b-a19c-1d75ce44e5e9","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Negative","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negative"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"568f59ac-fa07-4b61-9852-edd056e20c08","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"NEGATIVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEGATIVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4720,-180],"id":"5545d67a-f780-4f23-b628-d345318ff242","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"={{ $('Switch').item.json.success }}","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Switch').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"={{ $('Switch').item.json.cierre }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Switch').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Switch').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('Switch').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('Switch').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('Switch').item.json.output }}","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5320,-660],"id":"53bbf65f-165a-4c20-9661-53beda042a6d","name":"Formato de Salida Bd2"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('ConverToIntegerCID').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('ConverToIntegerCID').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('ConverToIntegerCID').item.json.output }}","type":"object"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"fc81af80-b5bb-4359-baa1-d12467dabe28","name":"cliente","value":"={{ $('ConverToIntegerCID').item.json.cliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3840,-160],"id":"9948c035-a343-471d-bdd6-bb34f2bfc706","name":"Formato de Salida Bd1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4200,-160],"id":"fe74077d-fdac-45e0-af76-7a478aee28f9","name":"Merge_salida"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"=false","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"error","value":"No se envío el email","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5300,-180],"id":"63b420ab-ceea-4706-840c-d70d637b7a6e","name":"Salida Error"},{"parameters":{"method":"POST","url":"http://192.168.2.12:5678/webhook/send-mail-aifx","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"adiazs@ifxcorp.com,jfernandez@ifxcorp.com,begonzalez@ifxcorp.com,jaimep@ifxcorp.com"},{"name":"bcc","value":" jaimep@ifxcorp.com"},{"name":"subject","value":"=Analisis de sentimiento:    {{ $('Switch').item.json.ticketId }} - {{ $('Switch').item.json.sentimentAnalysis.category }}"},{"name":"message_html","value":"={{ $json.html }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5160,-420],"id":"e13eba75-e25d-416f-9758-41dd2fade56a","name":"Email Neutro","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,-460],"id":"e83c5b16-b2f1-4c71-8918-5f020a8f537c","name":"ErrorJsonNoValido1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    /* Estilos condicionales para cada tipo de sentimiento */\n    .info-table-Negative,\n    .info-table-NEGATIVO {\n      background: #ffebee !important;\n      border-left: 6px solid #f44336 !important;\n    }\n    .info-table-Positive,\n    .info-table-POSITIVO {\n      background: #e8f5e8 !important;\n      border-left: 6px solid #4caf50 !important;\n    }\n    .info-table-Neutral {\n      background: #f4f7fb !important;\n      border-left: 6px solid #90a4ae !important;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #f5f7fa;\n      border-left: 6px solid #90a4ae;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #607d8b;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table info-table-{{ $('Merge_salida').item.json.sentimentAnalysis.category }} \">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Cid:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.cliente }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\"><b>{{ $json.sentimentAnalysis.category }}</b></span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      \n      <!-- Resumen -->\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          \n          <span class=\"sentiment-type\">Resumen del Análisis</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output.resumen }}</div>\n      </div>\n\n      <!-- Fragmento -->\n      <div class=\"sentiment-block info-table-{{ $('Merge_salida').item.json.sentimentAnalysis.category }}\">\n        <div class=\"sentiment-header\">\n          \n          <span class=\"sentiment-type\">Fragmento</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output.fragmento }}</div>\n      </div>\n\n            <!-- Recomendaciones -->\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n         \n          <span class=\"sentiment-type\">Recomendaciones</span>\n        </div>\n        <div class=\"sentiment-text\">\n          <div style=\"margin: 0; padding-left: 20px;\">\n            • {{ $json.output.recomendaciones[0] }}<br><br>\n            • {{ $json.output.recomendaciones[1] }}<br><br>\n            • {{ $json.output.recomendaciones[2] }}\n          </div>\n        </div>\n      </div>\n      \n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[4940,-420],"id":"ed478c57-ee69-453b-8cb5-0d7663617a4d","name":"HTML1"},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"={{ $('ValidoJson').item.json.info.customerName }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('ValidoJson').item.json.info.customerID }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"tipoCliente","value":"={{ $('ValidoJson').item.json.info.customerType }}","type":"string"},{"id":"b4efcec6-cf7d-4e3f-a2e6-8237ebb69456","name":"contenido","value":"={{ $('Code').item.json.markdownContent }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,560],"id":"af9f0ca6-ace9-4931-a133-46e7347f3f2f","name":"Formateo de Campos2"},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('salidafinal').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $('salidafinal').item.json.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"tipoCliente","value":"={{ $('salidafinal').item.json.tipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('salidafinal').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('salidafinal').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"d6b6375b-a54b-4b90-9d48-12eaaeec2179","name":"sentimentAnalysis.strength","value":"={{ $('salidafinal').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"755c9bd0-09b5-482b-9e3e-c9face2e5d46","name":"sentimentAnalysis.confidence","value":"={{ $('salidafinal').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"625ad804-8ed9-4233-ac8e-20b8e7d06b63","name":"info.startdate","value":"={{ $('ValidoJson').item.json.info.startdate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3400,640],"id":"373cfafc-df9f-481d-baa2-19f485bfde75","name":"Formato de Salida Endpoint_"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $json.caseid }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $json.customer }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $json.cid }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $json.sentiment }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** Caso validado anteriormente *** ! ","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $json.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $json.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,-360],"id":"5d5f0f10-7a71-4f23-ac0f-a7390c856e9f","name":"OutputNeutral1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $json.caseid }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $json.customer }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $json.cid }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $json.sentiment }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** Caso validado Neutro *** ! ","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $json.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $json.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,-340],"id":"7150d6b6-99ad-4035-b4ef-1dba4ed7d4f2","name":"OutputNeutral2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa9c50aa-2cb5-4eae-9f86-14a35f8ac405","leftValue":"={{ $('Code').item.json.markdownContent }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,820],"id":"62f607ba-2cc7-4f80-b8e3-24dadc5c9571","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.output.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"={{ $('ValidoJson').item.json.info.customerName }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('ValidoJson').item.json.info.customerID }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"tipoCliente","value":"={{ $('ValidoJson').item.json.info.customerType }}","type":"string"},{"id":"b4efcec6-cf7d-4e3f-a2e6-8237ebb69456","name":"contenido","value":"= {{ $json.markdownContent }} ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2220,980],"id":"0755700e-b1a3-4b38-881b-64e7c81de941","name":"Formateo de Campos3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2580,760],"id":"0b1e497b-80d7-4dc5-898f-3949545e8e9f","name":"salidafinal"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Modelo !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3400,340],"id":"87978461-63b9-4f2a-8049-7aa20fb7406a","name":"ErrorJsonNoValido2"},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"={{ $json.sentimentAnalysis.error }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1420,920],"id":"de5589f2-c6ed-40a3-b6f5-3cd9598f8d21","name":"Evolution API","credentials":{"evolutionApi":{"id":"WBRoBH97MGl7Drd5","name":"Wapp AiFX 3171057858"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"mvIAJ3WPYS2PTc26","mode":"list","cachedResultName":"ConsolidadoSentimientosCliente"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[4480,-360],"id":"2914b6c3-f0dc-4ac4-823b-240de23d3ba5","name":"Execute Workflow","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nLimita tu respuesta a maximo 200 Palabras\n\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n\n","needsFallback":true,"options":{"systemMessage":"Eres un analista lingüístico especializado en análisis conversacional, detección de eventos semánticos clave y análisis de sentimiento en interacciones textuales. Tu función es comprender a profundidad toda la conversación, identificar eventos clave, emociones, cambios de tono y construcciones lingüísticas relevantes que reflejan el estado emocional y la evolución de la interacción\n\nResponde en formato json, limpio. con la estructura:\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2920,140],"id":"5bf0fd6c-5d61-4f5e-96d9-deaee09cf99e","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nLimita tu respuesta a maximo 200 Palabras\n\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n\n","options":{"systemMessage":"Eres un analista lingüístico especializado en análisis conversacional, detección de eventos semánticos clave y análisis de sentimiento en interacciones textuales. Tu función es comprender a profundidad toda la conversación, identificar eventos clave, emociones, cambios de tono y construcciones lingüísticas relevantes que reflejan el estado emocional y la evolución de la interacción\n\nResponde en formato json, limpio. con la estructura:\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1440,440],"id":"c17b485c-c5e6-4bc5-a816-2919441f26be","name":"AI AgentOld","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2800,360],"id":"0442b28c-4833-484c-bb69-a6e18e4047ae","name":"OpenAI Chat Model5","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utiliza llama OpeniA"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2780,1000],"id":"406dc574-1ff4-4495-9257-65ffd63a4767","name":"OpenAI Chat Model6","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utilzia Openia Nano"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $json.contenido }}  y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nExtrae el fragmento de la informacion compartida que define el sentimiento del analisis\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n","options":{"systemMessage":"Eres un analista lingüístico especializado en análisis conversacional, detección de eventos semánticos clave y análisis de sentimiento en interacciones textuales. Tu función es comprender a profundidad toda la conversación, identificar eventos clave, emociones, cambios de tono y construcciones lingüísticas relevantes que reflejan el estado emocional y la evolución de la interacción\n\nResponde en formato json, limpio. con la estructura:\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1440,660],"id":"6ea04343-fc33-4e15-ae51-489af4f63afd","name":"AI Ageoldnt1","retryOnFail":true,"waitBetweenTries":5000,"disabled":true},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $json.contenido }}  y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nExtrae el fragmento de la informacion compartida que define el sentimiento del analisis\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n","needsFallback":true,"options":{"systemMessage":"Eres un analista lingüístico especializado en análisis conversacional, detección de eventos semánticos clave y análisis de sentimiento en interacciones textuales. Tu función es comprender a profundidad toda la conversación, identificar eventos clave, emociones, cambios de tono y construcciones lingüísticas relevantes que reflejan el estado emocional y la evolución de la interacción\n\nResponde en formato json, limpio. con la estructura:\n{\nresumen,\nfragmento,\nrecomendaciones:array\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2920,660],"id":"c11a6026-5b01-49c8-8d8e-7c32b9770b36","name":"AI Agent1","onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d455513-023c-4057-a2e0-6f3b7d2c2f28","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Mixto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mixto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Neutral","operator":{"type":"string","operation":"equals"},"id":"7b9ab88c-048b-4db7-89d3-3a1de1a582cd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Neutral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c839d037-66f2-488e-ab9c-20be80a2ac31","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"NEUTRO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEUTRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa61fce9-e24c-4e88-9f11-663584fb550d","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"POSITIVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POSITIVO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a6bb356-a438-49ed-815f-fbc9633ea475","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Positive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Positive"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1141d6ca-91b3-4ad5-afc6-66fc4fa3959f","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Negative","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negative"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d0baf4b-196f-4c6a-a0e9-8b4c48197d71","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"NEGATIVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEGATIVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1600,100],"id":"3ac77197-60e2-410b-b637-a135edc8ddf5","name":"Switch1"},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[340,300],"id":"ef8f6d89-31d6-4b17-a1a2-40bc5686c4e8","name":"OpenAI Chat Model1","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Llama 30B"},{"parameters":{"promptType":"define","text":"=Instrucciones:\n\nCalcula el strength and confidence scores de acuerdo a  {{ $('Code').item.json.markdownContent }} y el sentimiento: {{ $('Code').item.json.sentimient }}\nTraduce el sentimiento {{ $('Code').item.json.sentimient }}  a: \nPOSITIVO=Positive, \nNEUTRO=Neutral, \nNEGATIVO=Negative,\nMIXTO=Mixto,\n\n-No agregues mas detalle\n-Responde solo los valores\n-No inventes el sentimiento\n\nRespuesta:\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\n  \"sentimentAnalysis\": \n  {\n    \"category\":{{ $('Code').item.json.sentimient }},\n    \"strength\":valor numerico de strength,\n    \"confidence\":valor numerico de confidence\n  }\n}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,100],"id":"90985faa-f21f-42c8-851b-9abeb5a0838b","name":"IA Analisis sentimiento","retryOnFail":true,"maxTries":5},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"columns":{"mappingMode":"defineBelow","value":{"strength":"={{ $json.sentimentAnalysis.strength }}","confidence":"={{ $json.sentimentAnalysis.confidence }}","caseid":"={{ $('ValidoJson').item.json.info.casenumber }}","customer":"={{ $('ValidoJson').item.json.info.customerName.substring(0,100) }}","cid":"={{ $('ValidoJson').item.json.info.customerID }}","sentiment":"={{ $json.sentimentAnalysis.category }}","analisis":"=\"NA\""},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caseid","displayName":"caseid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"strength","displayName":"strength","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"json_data","displayName":"json_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"analisis","displayName":"analisis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2200,-200],"id":"a1678858-bcf7-4658-b4aa-c87fb1bc3be0","name":"Insert rows in a table","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[500,300],"id":"b9b00740-f721-42d4-abe9-771860065548","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,100],"id":"512c4220-4046-4387-b6ad-e9dfa887d7fc","name":"ParseJsonResponse","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[500,820],"id":"ae3e02f3-e190-4954-803b-499001f52e8a","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"promptType":"define","text":"=Instrucciones:\n\nCalcula el strength and confidence scores de acuerdo a  {{ $('Code').item.json.markdownContent }} y el sentimiento: {{ $('Code').item.json.sentimient }}\nTraduce el sentimiento {{ $('Code').item.json.sentimient }}  a: \nPOSITIVO=Positive, \nNEUTRO=Neutral, \nNEGATIVO=Negative,\nMIXTO=Mixto,\n\n-No agregues mas detalle\n-Responde solo los valores\n-No inventes el sentimiento\n\nRespuesta:\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato: \n\n{\n  \"sentimentAnalysis\": \n  {\n    \"category\":{{ $('Code').item.json.sentimient }},\n    \"strength\":valor numerico de strength,\n    \"confidence\":valor numerico de confidence\n  }\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[660,620],"id":"e6c627d4-963c-4fe2-9231-4fdea6899a87","name":"IA Bkp Model","retryOnFail":true,"maxTries":5}],"connections":{"Webhook":{"main":[[{"node":"ValidoJson","type":"main","index":0}]]},"Code":{"main":[[{"node":"busca_tt","type":"main","index":0}]]},"Formateo de Campos":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Formato de Salida Endpoint_2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ConverToIntegerCID","type":"main","index":0}]]},"ConverToIntegerCID":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"busca_tt":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"OutputNeutral1","type":"main","index":0}],[{"node":"IA Analisis sentimiento","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Formato de Salida Bd1","type":"main","index":0}]]},"ValidoJson":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"ErrorJsonNoValido1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"ErrorJsonOutput","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"HTML1","type":"main","index":0}],[{"node":"HTML1","type":"main","index":0}],[{"node":"HTML1","type":"main","index":0}],[{"node":"HTML1","type":"main","index":0}]]},"Formato de Salida Bd1":{"main":[[{"node":"Merge_salida","type":"main","index":1}]]},"Merge_salida":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Execute Workflow","type":"main","index":0}]]},"Email Neutro":{"main":[[{"node":"Formato de Salida Bd2","type":"main","index":0}],[{"node":"Salida Error","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Email Neutro","type":"main","index":0}]]},"Formateo de Campos2":{"main":[[{"node":"salidafinal","type":"main","index":0}]]},"Formato de Salida Endpoint_":{"main":[[{"node":"Merge","type":"main","index":1}],[]]},"If2":{"main":[[{"node":"Formateo de Campos2","type":"main","index":0}],[{"node":"Formateo de Campos3","type":"main","index":0}]]},"Formateo de Campos3":{"main":[[{"node":"salidafinal","type":"main","index":1}]]},"salidafinal":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Execute Workflow":{"main":[[]]},"OutputNeutral1":{"main":[[]]},"AI Agent":{"main":[[{"node":"Formato de Salida Endpoint_2","type":"main","index":0}],[{"node":"ErrorJsonNoValido2","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":1}]]},"AI Ageoldnt1":{"main":[[]]},"AI Agent1":{"main":[[{"node":"Formato de Salida Endpoint_","type":"main","index":0}],[{"node":"ErrorJsonNoValido2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"Formateo de Campos","type":"main","index":0}],[{"node":"Formateo de Campos","type":"main","index":0}],[{"node":"If2","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"IA Analisis sentimiento","type":"ai_languageModel","index":0}]]},"IA Analisis sentimiento":{"main":[[{"node":"ParseJsonResponse","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"OutputNeutral2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"IA Analisis sentimiento","type":"ai_languageModel","index":1}]]},"ParseJsonResponse":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"IA Bkp Model","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"IA Bkp Model","type":"ai_languageModel","index":0}]]},"IA Bkp Model":{"main":[[{"node":"ParseJsonResponse","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"200.62.6.89","x-forwarded-for":"200.62.6.89","x-forwarded-proto":"https","connection":"upgrade","content-length":"24832","x-correlation-id":"96fb7200-6350-11f0-9ab6-0afff0e8d947","user-agent":"AHC/1.0","accept":"*/*","content-type":"application/json; charset=UTF-8"},"params":{},"query":{},"body":{"info":{"id":"38887686","title":"caida GIRARDOTA","casenumber":"TT1095649","customerID":"645752","customerName":"MIBANCO S.A","customerType":"Titanium","assigned":{"id":"3128565","value":"Focal_Mibanco"},"startdate":"07/17/2025 10:37 AM","enddate":"07/17/2025 4:57 PM","phonealt":"(320) 412-4159","type":{"id":"1","value":"Incidencia"},"type_event":{"id":"","value":""},"creator":{"id":"3115444","value":"WILSON  RODRIGUEZ RODRIGUEZ"},"category":{"id":"359","value":"Caída total del enlace"},"services":{"id":"1878534","value":"1982329-IFX Internet Premium"},"status":{"id":"7","value":"Cerrado"}},"messages":[{"id":"155389746","author":{"id":"-4","value":"janzola@hvtelevision.com"},"authoremail":"janzola@hvtelevision.com","date":"07/17/2025 11:12 AM","datesecs":1752775920000,"message":"v\\:* {behavior:url(#default#VML);} o\\:* {behavior:url(#default#VML);} w\\:* {behavior:url(#default#VML);} .shape {behavior:url(#default#VML);} Buenos días, Hemos recibido su reporte vamos a analilzar el caso y le enviaremos avances. Cordialmente, De: WILSON RODRIGUEZ RODRIGUEZ [mailto:wrodriguezr@ifxcorp.com] Enviado el: jueves, 17 de julio de 2025 10:03 a. m.Para: hvnoc@hvtelevision.comAsunto: TT1095649 caida GIRARDOTA Novedades Caso TT1095649 :Cordial saludo equipo HVTVMe pueden colaborar con el servicio Cra 17 No. 6-22 ANTIOQUIA - GIRARDOTA HVTV 3625853, esta caído desde las 9:31 am horas WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155405200","author":{"id":"-4","value":"mlinaresl@hvtelevision.com"},"authoremail":"mlinaresl@hvtelevision.com","date":"07/17/2025 4:11 PM","datesecs":1752793860000,"message":" Buenas tardes Reciban un cordial saludo presentamos una ruptura de fibra lo cual ya el personal técnico esta empalmando de nuevo para subir nuevamente el enlace gracias por su atención y comprensión. Atentamente. El 17/07/2025 2:58 PM -05 Miguel Ángel Linares León &lt;mlinaresl@hvtelevision.com&gt; escribió: Buenas Tardes Ingenieros El personal técnico se encuentra en desplazamiento para validar afectación en la Zona cualquier avance les estaremos comunicando. Atentamente El 17/07/2025 2:47 PM -05 WILSON RODRIGUEZ RODRIGUEZ &lt;wrodriguezr@ifxcorp.com&gt; escribió: Novedades Caso TT1095649 : Cordial saludo equipo HVTV Nos colaboran con avances para el caso de GIRARDOTA #HV5608 WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com Empresa IFX Número de Caso HV5608 Estado ABIERTO Reportado Por GUSTAVO ADOLFO GARCIA TORO Fecha y hora evento Inicial 17-07-2025 09:51 Fecha y hora evento Final Tiempo de indisponibilidad (hh:mm) Paradas de Reloj (hh:mm) Tipificación al cierre de la falla SERVICIO AFECTADO Nombre de Servicio Producto Sede SER617 SER423 SER795 SER238 MULTIPLES SERVICIOS GIRARDOTA DESCRIPCIÓN INCIDENTE - REPORTE Se recibe correo de GUSTAVO ADOLFO GARCIA TORO de la empresa IFX NETWORKS con el NIT 830058677, reportando caída de multiples servicios ubicados en Girardota, bajo el identificador: DATOS DE CONTACTO Teléfono: 3133970747 Correo: soporte_proveedores@ifxcorp.com Ticket interno: DESCRIPCIÓN REPORTE Buen dia ingenieros HV TELEVISION S.A.S Se presentan múltiples alarmas en Girardota, favor brindar numero de caso, causa y solución de la falla. Servicios afectados: 3625853 3243304 3835593 2931394 DESCRIPCIÓN SOLUCIÓN AVANCES FECHA COMENTARIO 17-07-2025 10:05 Se crea ticket HV5751 para verificar el servicio. 17-07-2025 10:19 Afectación: Caída del servicio Zona: Acacias , Puerto Lopez y Pachaquiaro Ticket generado: 01513001 Ticket interno: HV5752 Tecnologías afectadas: FTTH-DOCSIS Avances: Se valida el equipo de última milla con 100% de pérdidas de paquetes, se procede asociar a la falla masiva de la zona que es: Se observa saturación de oriente del país afectando Villavicencio y periféricos y agregadores granada, umaribo, Acacias, Puerto Gaitan, Guamal, fosca, San Carlos, y sus dependientes Cordialmente El 17/07/2025 10:13 AM -05 Johan Pabón &lt;jpabon@hvtelevision.com&gt; escribió: Buen día, Sobre ese servicio ya se remitió correo con el caso generado HV5608. Cordialmente. El 17/07/2025 10:03 AM -05 WILSON RODRIGUEZ RODRIGUEZ &lt;wrodriguezr@ifxcorp.com&gt; escribió: Novedades Caso TT1095649 : Cordial saludo equipo HVTV Me pueden colaborar con el servicio Cra 17 No. 6-22 ANTIOQUIA - GIRARDOTA HVTV 3625853, esta caído desde las 9:31 am horas WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155405756","author":{"id":"3115444","value":"WILSON  RODRIGUEZ RODRIGUEZ"},"authoremail":"wrodriguezr@ifxcorp.com","date":"07/17/2025 4:09 PM","datesecs":1752793740000,"message":" Novedades Caso TT1095649 : Cordial saludo estimado clienteSEDE GIRARDOTA El personal técnico se encuentra en desplazamiento para validar afectación en la Zona cualquier  avance les estaremos comunicando.    WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155408375","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"07/17/2025 4:57 PM","datesecs":1752796620000,"message":" INFORME DE CASO --> Número de Caso TT1095649 customer {customer.id} caseid {id} --> Fecha y Hora de Apertura del Caso 17/07/2025 9:37 AM Fecha y Hora de Operabilidad de los Servicios 07/17/2025 15:07 Servicios Asociados 1982329-IFX Internet Premium Descripción del Caso caída de GIRARDOTA Acciones realizadas Restablecimiento de servicio – Evento de afectación regional El servicio fue restablecido hoy, 17 de julio de 2025, a las 15:07 horas. Se validó que el equipo de última milla presentaba pérdida total de paquetes (100%), lo cual se asoció a una falla masiva en la zona. La causa identificada fue una saturación en el oriente del país, que afectó la conectividad en Villavicencio y zonas periféricas, incluyendo los agregadores de Granada, Umaribo, Acacías, Puerto Gaitán, Guamal, Fosca, San Carlos, entre otros puntos dependientes. El incidente fue originado por una ruptura de fibra óptica, la cual ya fue reparada mediante empalme por el personal técnico, permitiendo la restauración del enlace y la normalización del servicio. Imputabilidad IFX Persona que Autoriza la Operabilidad y Cierre del Caso . ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT1095649 ?Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT1095649 ? Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio --> --> ","attachment":{}},{"id":"155387764","author":{"id":"3115444","value":"WILSON  RODRIGUEZ RODRIGUEZ"},"authoremail":"care@ifxcorp.com","date":"07/17/2025 10:39 AM","datesecs":1752773940000,"message":"SE OBSERVA CAIDA DE GIRARDOTA","attachment":{}},{"id":"155405998","author":{"id":"-4","value":"mlinaresl@hvtelevision.com"},"authoremail":"mlinaresl@hvtelevision.com","date":"07/17/2025 4:15 PM","datesecs":1752794100000,"message":" Cordial saludo Equipo IFX Anexamos evidencias tomadas en terreno y personal técnico realizando empalmes. Atentamente. El 17/07/2025 3:11 PM -05 Miguel Ángel Linares León &lt;mlinaresl@hvtelevision.com&gt; escribió: Buenas tardes Reciban un cordial saludo presentamos una ruptura de fibra lo cual ya el personal técnico esta empalmando de nuevo para subir nuevamente el enlace gracias por su atención y comprensión. Atentamente. El 17/07/2025 2:58 PM -05 Miguel Ángel Linares León &lt;mlinaresl@hvtelevision.com&gt; escribió: Buenas Tardes Ingenieros El personal técnico se encuentra en desplazamiento para validar afectación en la Zona cualquier avance les estaremos comunicando. Atentamente El 17/07/2025 2:47 PM -05 WILSON RODRIGUEZ RODRIGUEZ &lt;wrodriguezr@ifxcorp.com&gt; escribió: Novedades Caso TT1095649 : Cordial saludo equipo HVTV Nos colaboran con avances para el caso de GIRARDOTA #HV5608 WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com Empresa IFX Número de Caso HV5608 Estado ABIERTO Reportado Por GUSTAVO ADOLFO GARCIA TORO Fecha y hora evento Inicial 17-07-2025 09:51 Fecha y hora evento Final Tiempo de indisponibilidad (hh:mm) Paradas de Reloj (hh:mm) Tipificación al cierre de la falla SERVICIO AFECTADO Nombre de Servicio Producto Sede SER617 SER423 SER795 SER238 MULTIPLES SERVICIOS GIRARDOTA DESCRIPCIÓN INCIDENTE - REPORTE Se recibe correo de GUSTAVO ADOLFO GARCIA TORO de la empresa IFX NETWORKS con el NIT 830058677, reportando caída de multiples servicios ubicados en Girardota, bajo el identificador: DATOS DE CONTACTO Teléfono: 3133970747 Correo: soporte_proveedores@ifxcorp.com Ticket interno: DESCRIPCIÓN REPORTE Buen dia ingenieros HV TELEVISION S.A.S Se presentan múltiples alarmas en Girardota, favor brindar numero de caso, causa y solución de la falla. Servicios afectados: 3625853 3243304 3835593 2931394 DESCRIPCIÓN SOLUCIÓN AVANCES FECHA COMENTARIO 17-07-2025 10:05 Se crea ticket HV5751 para verificar el servicio. 17-07-2025 10:19 Afectación: Caída del servicio Zona: Acacias , Puerto Lopez y Pachaquiaro Ticket generado: 01513001 Ticket interno: HV5752 Tecnologías afectadas: FTTH-DOCSIS Avances: Se valida el equipo de última milla con 100% de pérdidas de paquetes, se procede asociar a la falla masiva de la zona que es: Se observa saturación de oriente del país afectando Villavicencio y periféricos y agregadores granada, umaribo, Acacias, Puerto Gaitan, Guamal, fosca, San Carlos, y sus dependientes Cordialmente El 17/07/2025 10:13 AM -05 Johan Pabón &lt;jpabon@hvtelevision.com&gt; escribió: Buen día, Sobre ese servicio ya se remitió correo con el caso generado HV5608. Cordialmente. El 17/07/2025 10:03 AM -05 WILSON RODRIGUEZ RODRIGUEZ &lt;wrodriguezr@ifxcorp.com&gt; escribió: Novedades Caso TT1095649 : Cordial saludo equipo HVTV Me pueden colaborar con el servicio Cra 17 No. 6-22 ANTIOQUIA - GIRARDOTA HVTV 3625853, esta caído desde las 9:31 am horas WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155404539","author":{"id":"3115444","value":"WILSON  RODRIGUEZ RODRIGUEZ"},"authoremail":"wrodriguezr@ifxcorp.com","date":"07/17/2025 3:47 PM","datesecs":1752792420000,"message":" Novedades Caso TT1095649 : Cordial saludo equipo HVTVNos colaboran con avances para el caso de GIRARDOTA #HV5608 WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com Empresa IFX Número de Caso HV5608 Estado ABIERTO Reportado Por GUSTAVO ADOLFO GARCIA TORO Fecha y hora evento Inicial 17-07-2025 09:51 Fecha y hora evento Final Tiempo de indisponibilidad (hh:mm) Paradas de Reloj (hh:mm) Tipificación al cierre de la falla SERVICIO AFECTADO Nombre de Servicio Producto Sede SER617 SER423 SER795 SER238 MULTIPLES SERVICIOS GIRARDOTA DESCRIPCIÓN INCIDENTE - REPORTE Se recibe correo de GUSTAVO ADOLFO GARCIA TORO de la empresa IFX NETWORKS con el NIT 830058677, reportando caída de multiples servicios ubicados en Girardota, bajo el identificador: DATOS DE CONTACTO Teléfono: 3133970747 Correo: soporte_proveedores@ifxcorp.com Ticket interno: DESCRIPCIÓN REPORTE Buen dia ingenieros HV TELEVISION S.A.S Se presentan múltiples alarmas en Girardota, favor brindar numero de caso, causa y solución de la falla. Servicios afectados: 3625853 3243304 3835593 2931394 DESCRIPCIÓN SOLUCIÓN AVANCES FECHA COMENTARIO 17-07-2025 10:05 Se crea ticket HV5751 para verificar el servicio. 17-07-2025 10:19 Afectación: Caída del servicio Zona: Acacias , Puerto Lopez y Pachaquiaro Ticket generado: 01513001 Ticket interno: HV5752 Tecnologías afectadas: FTTH-DOCSIS Avances: Se valida el equipo de última milla con 100% de pérdidas de paquetes, se procede asociar a la falla masiva de la zona que es: Se observa saturación de oriente del país afectando Villavicencio y periféricos y agregadores granada, umaribo, Acacias, Puerto Gaitan, Guamal, fosca, San Carlos, y sus dependientes Cordialmente El 17/07/2025 10:13 AM -05 Johan Pabón &lt;jpabon@hvtelevision.com&gt; escribió: Buen día, Sobre ese servicio ya se remitió correo con el caso generado HV5608. Cordialmente. El 17/07/2025 10:03 AM -05 WILSON RODRIGUEZ RODRIGUEZ &lt;wrodriguezr@ifxcorp.com&gt; escribió: Novedades Caso TT1095649 : Cordial saludo equipo HVTV Me pueden colaborar con el servicio Cra 17 No. 6-22 ANTIOQUIA - GIRARDOTA HVTV 3625853, esta caído desde las 9:31 am horas WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155389852","author":{"id":"3115444","value":"WILSON  RODRIGUEZ RODRIGUEZ"},"authoremail":"wrodriguezr@ifxcorp.com","date":"07/17/2025 11:05 AM","datesecs":1752775500000,"message":" Novedades Caso TT1095649 : cordial saludo estimado clienteSEDE GIRARDOTASe escalo con proveedor de UM continúan validando evento apenas se nos brinden mas avances les estaríamos indicando  WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155408356","author":{"id":"3115444","value":"WILSON  RODRIGUEZ RODRIGUEZ"},"authoremail":"wrodriguezr@ifxcorp.com","date":"07/17/2025 4:53 PM","datesecs":1752796380000,"message":" Novedades Caso TT1095649 : Cordial saludo estimado clienteSEDE GIRARDOTA Restablecimiento de servicio – Evento de afectación regionalEl servicio fue restablecido hoy, 17 de julio de 2025, a las 15:07 horas. Se validó que el equipo de última milla presentaba pérdida total de paquetes (100%), lo cual se asoció a una falla masiva en la zona.La causa identificada fue una saturación en el oriente del país, que afectó la conectividad en Villavicencio y zonas periféricas, incluyendo los agregadores de Granada, Umaribo, Acacías, Puerto Gaitán, Guamal, Fosca, San Carlos, entre otros puntos dependientes.El incidente fue originado por una ruptura de fibra óptica, la cual ya fue reparada mediante empalme por el personal técnico, permitiendo la restauración del enlace y la normalización del servicio.   WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155402291","author":{"id":"-4","value":"mlinaresl@hvtelevision.com"},"authoremail":"mlinaresl@hvtelevision.com","date":"07/17/2025 3:58 PM","datesecs":1752793080000,"message":" Buenas Tardes Ingenieros El personal técnico se encuentra en desplazamiento para validar afectación en la Zona cualquier avance les estaremos comunicando. Atentamente El 17/07/2025 2:47 PM -05 WILSON RODRIGUEZ RODRIGUEZ &lt;wrodriguezr@ifxcorp.com&gt; escribió: Novedades Caso TT1095649 : Cordial saludo equipo HVTV Nos colaboran con avances para el caso de GIRARDOTA #HV5608 WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com Empresa IFX Número de Caso HV5608 Estado ABIERTO Reportado Por GUSTAVO ADOLFO GARCIA TORO Fecha y hora evento Inicial 17-07-2025 09:51 Fecha y hora evento Final Tiempo de indisponibilidad (hh:mm) Paradas de Reloj (hh:mm) Tipificación al cierre de la falla SERVICIO AFECTADO Nombre de Servicio Producto Sede SER617 SER423 SER795 SER238 MULTIPLES SERVICIOS GIRARDOTA DESCRIPCIÓN INCIDENTE - REPORTE Se recibe correo de GUSTAVO ADOLFO GARCIA TORO de la empresa IFX NETWORKS con el NIT 830058677, reportando caída de multiples servicios ubicados en Girardota, bajo el identificador: DATOS DE CONTACTO Teléfono: 3133970747 Correo: soporte_proveedores@ifxcorp.com Ticket interno: DESCRIPCIÓN REPORTE Buen dia ingenieros HV TELEVISION S.A.S Se presentan múltiples alarmas en Girardota, favor brindar numero de caso, causa y solución de la falla. Servicios afectados: 3625853 3243304 3835593 2931394 DESCRIPCIÓN SOLUCIÓN AVANCES FECHA COMENTARIO 17-07-2025 10:05 Se crea ticket HV5751 para verificar el servicio. 17-07-2025 10:19 Afectación: Caída del servicio Zona: Acacias , Puerto Lopez y Pachaquiaro Ticket generado: 01513001 Ticket interno: HV5752 Tecnologías afectadas: FTTH-DOCSIS Avances: Se valida el equipo de última milla con 100% de pérdidas de paquetes, se procede asociar a la falla masiva de la zona que es: Se observa saturación de oriente del país afectando Villavicencio y periféricos y agregadores granada, umaribo, Acacias, Puerto Gaitan, Guamal, fosca, San Carlos, y sus dependientes Cordialmente El 17/07/2025 10:13 AM -05 Johan Pabón &lt;jpabon@hvtelevision.com&gt; escribió: Buen día, Sobre ese servicio ya se remitió correo con el caso generado HV5608. Cordialmente. El 17/07/2025 10:03 AM -05 WILSON RODRIGUEZ RODRIGUEZ &lt;wrodriguezr@ifxcorp.com&gt; escribió: Novedades Caso TT1095649 : Cordial saludo equipo HVTV Me pueden colaborar con el servicio Cra 17 No. 6-22 ANTIOQUIA - GIRARDOTA HVTV 3625853, esta caído desde las 9:31 am horas WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155386691","author":{"id":"-4","value":"jpabon@hvtelevision.com"},"authoremail":"jpabon@hvtelevision.com","date":"07/17/2025 11:14 AM","datesecs":1752776040000,"message":" Buen día, Sobre ese servicio ya se remitió correo con el caso generado HV5608. Cordialmente. El 17/07/2025 10:03 AM -05 WILSON RODRIGUEZ RODRIGUEZ &lt;wrodriguezr@ifxcorp.com&gt; escribió: Novedades Caso TT1095649 : Cordial saludo equipo HVTV Me pueden colaborar con el servicio Cra 17 No. 6-22 ANTIOQUIA - GIRARDOTA HVTV 3625853, esta caído desde las 9:31 am horas WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155391052","author":{"id":"-4","value":"jpabon@hvtelevision.com"},"authoremail":"jpabon@hvtelevision.com","date":"07/17/2025 11:34 AM","datesecs":1752777240000,"message":" Empresa IFX Número de Caso HV5608 Estado ABIERTO Reportado Por GUSTAVO ADOLFO GARCIA TORO Fecha y hora evento Inicial 17-07-2025 09:51 Fecha y hora evento Final Tiempo de indisponibilidad (hh:mm) Paradas de Reloj (hh:mm) Tipificación al cierre de la falla SERVICIO AFECTADO Nombre de Servicio Producto Sede SER617 SER423 SER795 SER238 MULTIPLES SERVICIOS GIRARDOTA DESCRIPCIÓN INCIDENTE - REPORTE Se recibe correo de GUSTAVO ADOLFO GARCIA TORO de la empresa IFX NETWORKS con el NIT 830058677, reportando caída de multiples servicios ubicados en Girardota, bajo el identificador: DATOS DE CONTACTO Teléfono: 3133970747 Correo: soporte_proveedores@ifxcorp.com Ticket interno: DESCRIPCIÓN REPORTE Buen dia ingenieros HV TELEVISION S.A.S Se presentan múltiples alarmas en Girardota, favor brindar numero de caso, causa y solución de la falla. Servicios afectados: 3625853 3243304 3835593 2931394 DESCRIPCIÓN SOLUCIÓN AVANCES FECHA COMENTARIO 17-07-2025 10:05 Se crea ticket HV5751 para verificar el servicio. 17-07-2025 10:19 Afectación: Caída del servicio Zona: Acacias , Puerto Lopez y Pachaquiaro Ticket generado: 01513001 Ticket interno: HV5752 Tecnologías afectadas: FTTH-DOCSIS Avances: Se valida el equipo de última milla con 100% de pérdidas de paquetes, se procede asociar a la falla masiva de la zona que es: Se observa saturación de oriente del país afectando Villavicencio y periféricos y agregadores granada, umaribo, Acacias, Puerto Gaitan, Guamal, fosca, San Carlos, y sus dependientes Cordialmente El 17/07/2025 10:13 AM -05 Johan Pabón &lt;jpabon@hvtelevision.com&gt; escribió: Buen día, Sobre ese servicio ya se remitió correo con el caso generado HV5608. Cordialmente. El 17/07/2025 10:03 AM -05 WILSON RODRIGUEZ RODRIGUEZ &lt;wrodriguezr@ifxcorp.com&gt; escribió: Novedades Caso TT1095649 : Cordial saludo equipo HVTV Me pueden colaborar con el servicio Cra 17 No. 6-22 ANTIOQUIA - GIRARDOTA HVTV 3625853, esta caído desde las 9:31 am horas WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155391271","author":{"id":"3115444","value":"WILSON  RODRIGUEZ RODRIGUEZ"},"authoremail":"wrodriguezr@ifxcorp.com","date":"07/17/2025 11:36 AM","datesecs":1752777360000,"message":" Novedades Caso TT1095649 : cordial saludo estimado cliente  SEDE GIRARDOTAAfectación: Caída del servicio   Zona: Acacias ,  Puerto Lopez y Pachaquiaro   Ticket generado: 01513001   Ticket interno: HV5752   Tecnologías afectadas: FTTH-DOCSIS   Avances: Se valida el equipo de última milla con 100% de pérdidas de paquetes, se procede asociar a la falla masiva de la zona que es: Se observa saturación de oriente del país afectando Villavicencio y periféricos y agregadores granada, umaribo, Acacias, Puerto Gaitan, Guamal, fosca, San Carlos, y sus dependientes    WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}},{"id":"155387767","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"07/17/2025 10:39 AM","datesecs":1752773940000,"message":" INFORME DE TICKET Asunto Nuevo Caso TT1095649 - MIBANCO S.A Asunto del Ticket caida GIRARDOTA N&uacute;mero de Ticket TT1095649 Fecha y Hora de Creaci&oacute;n del Ticket 17/07/2025 9:37 AM Tipo del Caso Incidencia Estado Asignado Categoría Caída total del enlace Nombre Del Servicio 1982329-IFX Internet Premium Direccion de Instalacion Cra 17 No. 6-22 ANTIOQUIA - GIRARDOTA ","attachment":{}},{"id":"155389640","author":{"id":"3115444","value":"WILSON  RODRIGUEZ RODRIGUEZ"},"authoremail":"wrodriguezr@ifxcorp.com","date":"07/17/2025 11:03 AM","datesecs":1752775380000,"message":" Novedades Caso TT1095649 : Cordial saludo equipo HVTVMe pueden colaborar con el servicio Cra 17 No. 6-22 ANTIOQUIA - GIRARDOTA     HVTV 3625853, esta caído desde las 9:31 am horas WILSON RODRIGUEZ RODRIGUEZ wrodriguezr@ifxcorp.com ","attachment":{}}],"cierre":{"CaseId":"38887686","Company":"MIBANCO S.A","Imputabilidad":"IFX","Responsable":"WILSON  RODRIGUEZ RODRIGUEZ","Unavailable_Minutes":"336","unavailable_to_report_minutes":"336","Type_of_Unavailable":"Caida Total","date_upgrade_services_affecte":"07/17/2025 4:07:00 PM","General_description_cause":"Eventualidad","Servicio":"1982329-IFX Internet Premium","Area":"","person_confirms_closure":".","overview_fall":"","Reason_for_Closing":"Afectación de fibra","SubReason_for_Closing":"Corte de fibra","Equipment":"","Node":"","Displacement":"F","Reason_Displacement":"","Include_Report":"T","Cause_Internal_Error":".","email_confirm_close":".","Development_Process_Realized":"Restablecimiento de servicio – Evento de afectación regional\n\nEl servicio fue restablecido hoy, 17 de julio de 2025, a las 15:07 horas. Se validó que el equipo de última milla presentaba pérdida total de paquetes (100%), lo cual se asoció a una falla masiva en la zona.\n\nLa causa identificada fue una saturación en el oriente del país, que afectó la conectividad en Villavicencio y zonas periféricas, incluyendo los agregadores de Granada, Umaribo, Acacías, Puerto Gaitán, Guamal, Fosca, San Carlos, entre otros puntos dependientes.\n\nEl incidente fue originado por una ruptura de fibra óptica, la cual ya fue reparada mediante empalme por el personal técnico, permitiendo la restauración del enlace y la normalización del servicio.","Incident_Description":"caída de GIRARDOTA","Action_Plan":"."},"sentiment":null},"webhookUrl":"https://n8n.aifx.com.co/webhook/analytics_sent","executionMode":"production"}}]},"versionId":"525084ea-914d-4e60-846a-3222af635587","triggerCount":1,"tags":[]}