workflows/BackupGithub.json
{"createdAt":"2025-05-10T23:26:02.757Z","updatedAt":"2025-05-10T23:30:21.000Z","id":"9ZOF1FiMgAZ0M3Qc","name":"BackupGithub","active":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"ac96a560-0b76-4cdb-adeb-f1fdd4b75579","name":"GitHub","type":"n8n-nodes-base.github","position":[2000,740],"typeVersion":1,"alwaysOutputData":true,"webhookId":"88a99df5-8c24-40c0-9a89-c732918cfa76","credentials":{"githubApi":{"id":"f2tIhmKxTLkygd54","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"adiazsifx"},{"name":"repo.name","value":"n8n-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"356cc15f-53be-48c3-a78f-580069d348b1","name":"Globals","type":"n8n-nodes-base.set","position":[1300,660],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"d284b9b2-2a32-478c-a2d6-9bca9f980c8e","name":"n8n","type":"n8n-nodes-base.n8n","position":[1540,660],"typeVersion":1,"credentials":{"n8nApi":{"id":"RAjEKQVyUx82fXuD","name":"n8n account"}}},{"parameters":{"options":{}},"id":"4083ed08-2f32-4280-a570-037ae6059307","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1760,660],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"af128f22-d949-4830-bcf2-0320fbcee763","name":"If","type":"n8n-nodes-base.if","position":[2200,740],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"f800ef8b-4aa5-4940-bd29-9a79fcbf1b25","name":"If1","type":"n8n-nodes-base.if","position":[3080,1020],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"cf7cd880-0d10-4ab0-b376-57348ec252a3","name":"Code","type":"n8n-nodes-base.code","position":[2760,720],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","mode":"name"},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"6b737393-26d8-43d3-bf74-7030615e141f","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[2380,900],"typeVersion":1,"webhookId":"883c0e71-f2a3-4756-88e4-d38baab35655","credentials":{"githubApi":{"id":"f2tIhmKxTLkygd54","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"8c7116d3-c9cc-4c98-a41b-bf1ff5c4404a","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[3440,1220],"typeVersion":1,"webhookId":"8a883e3e-f248-4a40-986f-6c41ed97baff","credentials":{"githubApi":{"id":"f2tIhmKxTLkygd54","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"4f072132-27ed-4410-962c-91ea9e7a2c3d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1080,660],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"470dfe99-bc1b-47a2-b52f-e1b98ac069fb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[3600,1240],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"8e3b294b-26ef-470e-8f69-83b47035578b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[3220,1020],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"aed2eac0-9e2a-4484-8977-585a18bb5b8e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2500,920],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"407b440d-ff1d-4e85-b980-a636ca132344","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2200,640],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"f14ea920-8dcd-41c1-b85c-80abdcc526cd","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2700,620],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"9e4349e5-7bd4-43cb-8558-a415e6d1b690","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1480,560],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"3644e29f-50bd-4e6d-8148-204e93d5d858","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1220,800],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc8ba912-4399-4ce6-8570-e6306a62420c","triggerCount":0,"tags":[]}