workflows/Chat IA v1.0.json
{"createdAt":"2025-04-09T19:41:25.137Z","updatedAt":"2025-05-13T19:06:59.000Z","id":"FRs9Q4wSKR7f8Jl7","name":"Chat IA v1.0","active":false,"nodes":[{"parameters":{"chunkSize":2000,"chunkOverlap":500,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[380,300],"id":"b5de3bf9-b1fa-4ec7-9e7d-9ff151743532","name":"Recursive Character Text Splitter","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[500,140],"id":"3d43bc24-76ad-4bde-8e18-8a560f9c357d","name":"Default Data Loader","disabled":true},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"tickets_client_test","mode":"list","cachedResultName":"tickets_client_test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[520,-60],"id":"ad000dfc-8c3b-455c-84ac-5e02f522ffa4","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"xUpAbgSTXO5nq2Tp","name":"QdrantApi"}},"disabled":true},{"parameters":{"url":"https://portal-gateway.ifxcorp.com/api/ticket/info/customer/18790","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb21wYW5pZXMiOnsiY3VzdG9tZXJzIjpbIjE4NzkwIiwiMjQyMDkiXSwiY29tcGFueUlEIjoiMzU2MzEiLCJjb21wYW55Ijp7ImlkIjoiMTg3OTAiLCJ2YWx1ZSI6IlRFWE1PREFTIFMuQS5TIiwiY291bnRyeSI6IkNvbG9tYmlhIiwic3Vic2lkaWFyeUlkIjoiMyJ9LCJjb250YWN0SWQiOiIzNTI4OTEyIiwiY29udGFjdE5hbWUiOiJEZXZFeHAgSUZYIiwiZW1haWwiOiJzYWRpYW44OEBnbWFpbC5jb20iLCJjb250YWN0VHlwZSI6eyJpZCI6IjUiLCJ2YWx1ZSI6IlByaW5jaXBhbCJ9LCJjb250YWN0Um9sZXMiOlt7ImlkIjoiNSIsIm5hbWUiOiJQcmluY2lwYWwifV0sImNvbnRhY3RQaG9uZSI6IiIsImNvbnRhY3RNb2JpbGUiOiIxMTExMTExMSIsInBlcm1pc3Npb25zIjpbeyJuYW1lIjoiY29udGFjdCIsImxldmVsIjoiNSJ9LHsibmFtZSI6InNlcnZpY2UiLCJsZXZlbCI6IjUifSx7Im5hbWUiOiJpbnZvaWNlIiwibGV2ZWwiOiI1In0seyJuYW1lIjoiYWNjbnRzdGF0IiwibGV2ZWwiOiI1In0seyJuYW1lIjoiY2FzZSIsImxldmVsIjoiNSJ9LHsibmFtZSI6InVzZXIiLCJsZXZlbCI6IjUifSx7Im5hbWUiOiJkYXRhY2VudGVyYWNjcnEiLCJsZXZlbCI6IjEifV19LCJvcHRBdXRoIjp7ImVuYWJsZWQiOnRydWUsInZlcmlmaWVkIjp0cnVlLCJpYWNoYXQiOmZhbHNlfSwiaWF0IjoxNzQ0MzE3MjQzLCJleHAiOjE3NDQzMjA4NDN9.fK0q5OQxiXKDs4S71XnO0yA4Vvu7ln_GH-aiEbxd7l4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"customerId\":\"18790\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,-280],"id":"b568b7ab-9cf5-42be-9a5a-4986dcd53576","name":"HTTP Request","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,-280],"id":"294d7022-e443-47b2-a03d-298ccda9d74b","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"model":"embedding-model","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[280,100],"id":"abc74d4b-6a7b-453e-aee4-fc54dd1c21b9","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"disabled":true},{"parameters":{"jsCode":"const result = [];\nconst now = new Date();\n\nfor (const item of items) {\n  const tickets = item.json.tickets;\n\n  if (!Array.isArray(tickets)) continue;\n\n  for (const ticket of tickets) {\n    const { status, startdate, type, title, casenumber } = ticket.info || {};\n    const city = ticket.city?.value || \"\";\n    const email = ticket.email || \"\";\n\n    // Validaciones básicas\n    if (!status || !startdate || !type || !title) continue;\n\n    // Validar tipo\n    const isTipoValido = type.id === \"1\" || type.id === \"2\";\n\n    // Validar status abierto\n    const isAbierto = status.id === \"1\" && status.value === \"Abierto\";\n\n    // Validar cerrado reciente\n    let isCerradoReciente = false;\n    if (status.id === \"7\" && status.value === \"Cerrado\") {\n      const parsedDate = new Date(startdate);\n      if (!isNaN(parsedDate)) {\n        const diffDays = (now - parsedDate) / (1000 * 60 * 60 * 24);\n        isCerradoReciente = diffDays <= 30;\n      }\n    }\n\n    if (isTipoValido && (isAbierto || isCerradoReciente)) {\n      const texto = `\nNumero de Ticket: ${casenumber || \"\"}\nTítulo: ${title}\nCiudad: ${city}\nEmail: ${email}\n`.trim();\n\n      result.push({\n        json: {\n          ticket: texto,\n        }\n      });\n    }\n  }\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,-280],"id":"07cfc818-adac-48e9-b0fd-fcc61356dc72","name":"Filtro ultimo Mes","disabled":true},{"parameters":{"promptType":"define","text":"=Eres un asistente que responde preguntas {{ $json.body.user_message }} sobre servicios o tickets de un cliente, usando solo los datos de los nodos Services o Tickets.\n\n**Reglas:**\n- Responde solo con la información disponible en los datos.\n- Si algo no está en los datos, responde: **\"No tengo esa información.\"**\n- Sé claro, profesional y breve.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1020,-520],"id":"9f89b8f9-727e-422c-99b7-bf0cd13b7186","name":"AI Agent","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[840,-300],"id":"7e11b38b-c04c-478b-a3df-7189b535cde1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.userid }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1100,-300],"id":"2bc231f9-7eb1-4f8a-ab7c-6407d8ca1f53","name":"Simple Memory","notesInFlow":true},{"parameters":{"connectionType":"sse","operation":"executeTool","toolName":"buscar_servicios","toolParameters":"{\n\"cid\":\"35631\",\n\"token\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb21wYW5pZXMiOnsiY3VzdG9tZXJzIjpbIjE4NzkwIiwiMjQyMDkiXSwiY29tcGFueUlEIjoiMzU2MzEiLCJjb21wYW55Ijp7ImlkIjoiMTg3OTAiLCJ2YWx1ZSI6IlRFWE1PREFTIFMuQS5TIiwiY291bnRyeSI6IkNvbG9tYmlhIiwic3Vic2lkaWFyeUlkIjoiMyJ9LCJjb250YWN0SWQiOiIzNTI4OTEyIiwiY29udGFjdE5hbWUiOiJEZXZFeHAgSUZYIiwiZW1haWwiOiJzYWRpYW44OEBnbWFpbC5jb20iLCJjb250YWN0VHlwZSI6eyJpZCI6IjUiLCJ2YWx1ZSI6IlByaW5jaXBhbCJ9LCJjb250YWN0Um9sZXMiOlt7ImlkIjoiNSIsIm5hbWUiOiJQcmluY2lwYWwifV0sImNvbnRhY3RQaG9uZSI6IiIsImNvbnRhY3RNb2JpbGUiOiIxMTExMTExMSIsInBlcm1pc3Npb25zIjpbeyJuYW1lIjoiY29udGFjdCIsImxldmVsIjoiNSJ9LHsibmFtZSI6InNlcnZpY2UiLCJsZXZlbCI6IjUifSx7Im5hbWUiOiJpbnZvaWNlIiwibGV2ZWwiOiI1In0seyJuYW1lIjoiYWNjbnRzdGF0IiwibGV2ZWwiOiI1In0seyJuYW1lIjoiY2FzZSIsImxldmVsIjoiNSJ9LHsibmFtZSI6InVzZXIiLCJsZXZlbCI6IjUifSx7Im5hbWUiOiJkYXRhY2VudGVyYWNjcnEiLCJsZXZlbCI6IjEifV19LCJvcHRBdXRoIjp7ImVuYWJsZWQiOnRydWUsInZlcmlmaWVkIjp0cnVlLCJpYWNoYXQiOmZhbHNlfSwiaWF0IjoxNzQ0ODQyMDcxLCJleHAiOjE3NDQ4NDU2NzF9.hIejW7NhNGjA2FKS3qzCG7rw7QhKneM4FxRPDXpr7zQ\"\n}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[-120,-200],"id":"dca31e5c-85e7-436b-92e1-1b140ab243e7","name":"MCP Services1","credentials":{"mcpClientSseApi":{"id":"cyV1UH5efB3vKzm5","name":"MCP Client (STDIO) account"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"63f2f3df-96c0-41a3-9fb8-dc5107b3b861","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[700,-520],"id":"28d82361-d7da-4f5d-ac65-678898c985ea","name":"Webhook","webhookId":"63f2f3df-96c0-41a3-9fb8-dc5107b3b861"},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta los tickets, casos, solicitudes, incidencias, fallas del cliente en la ultima semana y sus caracteristicas","connectionType":"sse","operation":"executeTool","toolName":"buscar_tickets","toolParameters":"={\n\"cid\":\"{{ $('Webhook').item.json.body.clientid }}\",\n\"token\":\"{{ $('Webhook').item.json.body.token }}\"\n}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1560,-320],"id":"a02e9aa9-ad25-46e8-bbf6-75e55011ab09","name":"Tickets","credentials":{"mcpClientSseApi":{"id":"cyV1UH5efB3vKzm5","name":"MCP Client (STDIO) account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta los servicios activos del cliente y sus caracteristicas","connectionType":"sse","operation":"executeTool","toolName":"buscar_servicios","toolParameters":"={\n\"cid\":\"{{ $('Webhook').item.json.body.clientid }}\",\n\"token\":\"{{ $('Webhook').item.json.body.token }}\"\n}"},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1340,-340],"id":"115ecbba-4ebc-41aa-abfb-5e8f1ccbdd47","name":"Services","credentials":{"mcpClientSseApi":{"id":"cyV1UH5efB3vKzm5","name":"MCP Client (STDIO) account"}}}],"connections":{"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"HTTP Request":{"main":[[{"node":"Filtro ultimo Mes","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Filtro ultimo Mes":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Tickets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Services":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"665773be-e095-43a0-a929-45f38b33355d","triggerCount":0,"tags":[]}