workflows/ChatBISentimientos.json
{"createdAt":"2025-05-27T19:39:43.432Z","updatedAt":"2025-07-15T18:05:53.000Z","id":"dVcphqpPX159DyE1","name":"ChatBISentimientos","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"764176d6-3c89-404d-9c71-301e8a406a68","name":"table","type":"string","value":"={{ $json.schema_db }}"}]},"includeOtherFields":true,"options":{}},"id":"69e5b36b-b895-43be-a5e4-b1d92f5052f0","name":"Add table name to output","type":"n8n-nodes-base.set","position":[1300,-240],"typeVersion":3.4,"disabled":true},{"parameters":{"operation":"toJson","options":{}},"id":"a58cb103-24f9-4e4b-94fb-dd61cdd473c5","name":"Convert data to binary","type":"n8n-nodes-base.convertToFile","position":[1540,-240],"typeVersion":1.1,"disabled":true},{"parameters":{"operation":"write","fileName":"./summary_sentimientos_schema.json","options":{}},"id":"6a7846e3-af28-4a9d-8d24-b355c41e9e30","name":"Save file locally","type":"n8n-nodes-base.readWriteFile","position":[1760,-240],"typeVersion":1,"disabled":true},{"parameters":{"operation":"fromJson","options":{}},"id":"0db3b19b-bd13-4982-899b-4b106e160b0a","name":"Extract data from file","type":"n8n-nodes-base.extractFromFile","position":[1400,-20],"typeVersion":1,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"42abd24e-419a-47d6-bc8b-7146dd0b8314","name":"sessionId","type":"string","value":"={{ $execution.id }}"},{"id":"f78c57d9-df13-43c7-89a7-5387e528107e","name":"chatinput","type":"string","value":"={{ $('Webhook').item.json.body.contents[0].parts[0].text }}"},{"id":"e42b39eb-dfbd-48d9-94ed-d658bdd41454","name":"schema","type":"string","value":"={{ $json.data }}"}]},"options":{}},"id":"006c172e-257b-4b15-b904-aa0bab291ec4","name":"Combine schema data and chat input","type":"n8n-nodes-base.set","position":[1660,-20],"executeOnce":true,"typeVersion":3.4,"alwaysOutputData":true,"disabled":true},{"parameters":{"fileSelector":"./summary_sentimientos_schema.json","options":{}},"id":"dc944f54-97b3-4d56-af13-514c925f3063","name":"Load the schema from the local file","type":"n8n-nodes-base.readWriteFile","position":[1180,-20],"typeVersion":1,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"ebbe194a-4b8b-44c9-ac19-03cf69d353bf","name":"query","type":"string","value":"={{ $json.output }}"}]},"includeOtherFields":true,"options":{}},"id":"346b95fc-2bb8-4195-abda-1b280c1c5c46","name":"Extract SQL query","type":"n8n-nodes-base.set","position":[2240,80],"typeVersion":3.4,"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"2963d04d-9d79-49f9-b52a-dc8732aca781","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.query }}","rightValue":""},{"id":"b8434632-8c8c-4141-928a-635c6b99d44f","leftValue":"={{ $json.output }}","rightValue":"Mis respuestas son solo relacionadas al analisis de sentimientos.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"eb01487f-3ee7-4136-8adf-7502f7d2875c","name":"Check if query exists","type":"n8n-nodes-base.if","position":[2400,80],"typeVersion":2.2,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"sqloutput","type":"string","value":"={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"}]},"options":{}},"id":"547b046c-1f42-4269-a908-9bcdf0c2a1e1","name":"Format query results","type":"n8n-nodes-base.set","position":[2980,-240],"executeOnce":true,"typeVersion":3.4,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"aa55e186-1535-4923-aee4-e088ca69575b","name":"output","type":"string","value":"={{ $('Combine query result and chat answer').item.json.sqloutput }}\n"}]},"options":{}},"id":"889f9b04-f273-41c5-9b0b-c5349ebee065","name":"Prepare final output","type":"n8n-nodes-base.set","position":[3680,-80],"typeVersion":3.4,"disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"62ae2f07-1558-4d03-9826-ebd5e58766ff","name":"Combine query result and chat answer","type":"n8n-nodes-base.merge","position":[2880,40],"typeVersion":3,"disabled":true},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2060,700],"id":"a96d7ed5-d07b-4723-87e0-dcd274690019","name":"OpenAI Chat Model","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"disabled":true,"notes":"llama 30b"},{"parameters":{"operation":"executeQuery","query":"SELECT table_name, column_name, data_type, is_nullable, column_default\nFROM information_schema.columns\nWHERE table_name = 'summary_sentimientos' \nORDER BY table_name, ordinal_position;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[820,-240],"id":"ad377978-c30d-49b3-be7d-340ca195da87","name":"Postgres","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{"jsCode":"\n\nreturn { schema_db:$input.all()} ;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,-240],"id":"1bb883d2-0dd8-4b30-984f-73b3d03ebcbf","name":"Code","disabled":true},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2580,-180],"id":"1246600f-de92-4ab5-827a-e61ef47fa2f0","name":"Postgres1","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"chatbi","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2500,-280],"id":"a3c8f972-c8b4-4fad-8c0f-ef9bab63fa0b","name":"Webhook","webhookId":"14503a4e-a075-47e4-9faf-9d4ac2ce6da9"},{"parameters":{"promptType":"define","text":"=Explica el esquema de base  de datos con el fin de construir consultas sql postgress {{ $json.schema }}\n\nExplicalo de forma resumida y precisa.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1300,320],"id":"729d139c-dc66-46c6-bd9f-fef25ea9ff71","name":"AI Agent1","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1280,580],"id":"127a33cf-a80d-4523-8961-37d8c4888f54","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"summary_sentimientos"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1400,580],"id":"5b1f5adf-9199-49bf-b554-046329fad2ff","name":"Simple Memory","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"bfc67141-3f52-47f5-a435-fc501587c3d4","name":"output","value":"Ese tema no está dentro de la información que manejo, pero estaré encantado de ayudarte con algo relacionado.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2900,700],"id":"9fa23d00-a9d5-402d-9ab1-e266d84ea0cb","name":"SalidaFallaModelo","disabled":true},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2200,720],"id":"a179f532-2997-47b4-99a4-e43cf4cca8ff","name":"OpenAI Chat Model2","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"disabled":true,"notes":"openia nano"},{"parameters":{"promptType":"define","text":"=\nEres un experto en bases de datos PostgreSQL.\n\nTu tarea es generar una consulta SQL en PostgreSQL para responder la pregunta del usuario, basada en el siguiente esquema de base de datos:\n\nBase de datos:  {{ $('Combine schema data and chat input').item.json.schema }}\n\n\nInstrucciones:\n- No expliques nada. No agregues comentarios.\n- Si no se puede responder con el esquema dado, responde: `-- No se puede responder con el esquema actual.`\n- Respeta los tipos de datos y nombra los campos tal como aparecen en el esquema.\n- Usa funciones SQL si es necesario (ej. AVG, COUNT, etc.)\n- Utiliza la columna \"sentimiento\" para buscar el tipo de sentimiento\n- Utiliza la columna \"chat\" para buscar mensajes escritos por el usuario\n- Utiliza alias si ayudan a la claridad (ej. `AS total`, `AS promedio_confianza`, etc.)\n- Usa cláusulas como `WHERE`, `GROUP BY`, `ORDER BY`, `LIMIT`, etc. cuando la pregunta lo requiera.\n- SIEMPRE Utiliza la cláusulas `LIKE '%valor%'` SI SE REALIZA LA BUSQUEDA SOBRE CAMPOS TIPO TEXTO\n- Para sentimiento negativo o malo el valor buscado es: NEGATIVE\n- Para sentimiento neutro, normal el valor buscado es: NEUTRAL\n- Para sentimiento positivo, bueno,excelente el valor buscado es: POSITIVE\n- Para consulta por fecha utliza la columna CAST(created_at AS DATE)\n- Para enviar consultas de Fecha utiliza RANGOS SIEMPRE ejemplo: START_DATE AND END_DATE\n\nPregunta:{{ $('Combine schema data and chat input').item.json.chatinput }}\n\n\nSi te hacen preguntas diferentes a sentimientos, clientes, conteos, promedios, sumatorias, mensajes responde: Mis respuestas son solo relacionadas al analisis de sentimientos.\n\nNo responder consultas sobre gestion de la base de datos.\nNo responder consultas sobre tablas administrativas.\nNo responder consultas sobre accesos o permisos de acceso.\nSolo Utiliza sentencias de tipo SELECT\n","needsFallback":true,"options":{"systemMessage":"No mostrar en los resultados los Id o Llaves principales de las tablas, nombres de tablas.\n\nNo agregar simbolos adicionales a la consulta. Responder solo el query\n\nNo agregar saltos de linea al query"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2300,440],"id":"4f95aed8-45fe-4313-811d-8c5836beccaa","name":"AI Agent","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3040,260],"id":"14bea8ce-7ff6-40b8-b9e8-ee8330d801c1","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Responde de forma natural y precisa, no agregues mas informacion. el mesanje  {{ $json.sqloutput }}\n\n","options":{"systemMessage":"Tu funcion es comunicar los resultados de una consulta sqlpostgress de forma ordenada."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3200,40],"id":"ce4568cd-5789-4063-b353-0fc96a612c0b","name":"Inteprete-Informacion","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"aa55e186-1535-4923-aee4-e088ca69575b","name":"output","type":"string","value":"=¿Podrías darme un poco más de detalle sobre tu consulta para poder ayudarte mejor?"}]},"options":{}},"id":"57dc5eab-6c5d-4f74-8746-d16b0210de6f","name":"Prepare final output1","type":"n8n-nodes-base.set","position":[3680,120],"typeVersion":3.4,"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2400,680],"id":"4014810a-5a32-4c31-af5b-1e625608679f","name":"Simple Memory1","disabled":true},{"parameters":{"promptType":"define","text":"=Responde la consulta  {{ $json.consulta }} \n\nLa informacion es: {{ $json.markdown }}\n\nInstrucciones:\n- Saluda antes de la respuesta.\n- Tus respuestas en analisis de sentimientos es basado en las ultimas 24 horas.\n- Responde solo lo consultado.\n- Entrega respuestas concretas.\n- Los clientes criticos son los que tienen sentimientos negativos, si no tienes sentimientos negativos responde: No contamos con sentimientos negativos hasta el momento.\n- Entrega el nombre del cliente con las respuestas, cuando aplique para un unico cliente.\n- Entrega el caseid cuando la respuesta sea de un unico caso.\n- Ten en cuenta el dia actual {{ $now }}.\n- Despidete con: \"¿Hay algo más que quieras consultar? 🤔 Por ahora, no conservo el historial, así que cada pregunta debe ser independiente. ¡Muy pronto podré hacerlo! 🚀\"\n\n\n\nRestricciones:\n- No agregues comentarios largos.\n- No hagas resumenes generales de sentimientos si no lo solicitan\n- No inventes informacion.\n- No das razones del sentimiento, no conoces porqué el origen del sentimiento.\n\n\nSi te hacen preguntas diferentes a sentimientos, clientes, conteos, promedios, sumatorias, mensajes responde: Mis respuestas son solo relacionadas al analisis de sentimientos.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1440,-300],"id":"fd110e70-fe51-46b9-8a92-e7d659bd78bf","name":"AI Agent2","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1580,-60],"id":"7345d616-3d40-4272-9290-989fab3a52c2","name":"OpenAI Chat Model4","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"llama 30b"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1900,-300],"id":"61308309-4f07-45c2-8796-b327e49c555c","name":"Aggregate"},{"parameters":{"jsCode":"// Código para nodo Function en n8n - Análisis de Sentimientos\nconst inputData = $input.first().json.data;\nconst fieldsToKeep = ['created_at','customer','caseid','sentiment','strength','confidence','analisis'];\n\nfunction cleanObject(obj) {\n  const cleaned = {};\n  fieldsToKeep.forEach(field => {\n    cleaned[field] = obj[field] || null;\n  });\n  return cleaned;\n}\n\nfunction formatDate(dateString) {\n  if (!dateString) return 'N/A';\n  try {\n    const date = new Date(dateString);\n    return date.toISOString().split('T')[0];\n  } catch {\n    return 'N/A';\n  }\n}\n\nfunction generateCompactMarkdown(data) {\n  const grouped = {POSITIVE: [],NEGATIVE: [],NEUTRAL: []};\n  \n  data.forEach(item => {\n    const sentiment = item.sentiment?.toUpperCase() || 'NEUTRAL';\n    if (grouped[sentiment]) {\n      grouped[sentiment].push(item);\n    } else {\n      grouped.NEUTRAL.push(item);\n    }\n  });\n  \n  let md = `Total:${data.length} Positivo:${grouped.POSITIVE.length} Negativo:${grouped.NEGATIVE.length} Neutral:${grouped.NEUTRAL.length}\\n\\n`;\n  \n  ['POSITIVE', 'NEGATIVE', 'NEUTRAL'].forEach(sentiment => {\n    const items = grouped[sentiment];\n    if (items.length === 0) return;\n    \n    md += `${sentiment} (${items.length}):\\n`;\n    \n    items.forEach(item => {\n      const caseId = (item.caseid || 'N/A').substring(0, 10);\n      const customer = (item.customer || 'N/A').substring(0, 50);\n      const sentiment = item.sentiment || 'N/A';\n      const confidence = parseFloat(item.confidence || 0).toFixed(2);\n      const strength = parseFloat(item.strength || 0).toFixed(2);\n      const fecha = formatDate(item.created_at);\n      \n      md += `caseid:${caseId}, customer:${customer}, sentiment:${sentiment}, confidence:${confidence}, strength:${strength}, date:${fecha}\\n`;\n    });\n    md += '\\n';\n  });\n  \n  const withAnalysis = data.filter(item => item.analisis && item.analisis.trim() !== '');\n  if (withAnalysis.length > 0) {\n    md += 'Analisis:\\n';\n    withAnalysis.slice(0, 2).forEach((item, index) => {\n      md += `${index + 1}. caseid:${item.caseid}, analisis:${item.analisis.substring(0, 80)}...\\n`;\n    });\n  }\n  \n  return md;\n}\n\nlet processedData = [];\nconst processedIds = new Set();\nlet debugInfo = {totalInput: 0, processed: 0, duplicates: 0, errors: 0};\n\nif (Array.isArray(inputData)) {\n  debugInfo.totalInput = inputData.length;\n  \n  inputData.forEach((item, index) => {\n    try {\n      const uniqueId = `${item.caseid || 'unknown'}_${item.created_at || index}`;\n      \n      if (!processedIds.has(uniqueId)) {\n        const cleaned = cleanObject(item);\n        processedData.push(cleaned);\n        processedIds.add(uniqueId);\n        debugInfo.processed++;\n      } else {\n        debugInfo.duplicates++;\n      }\n    } catch (error) {\n      debugInfo.errors++;\n    }\n  });\n} else {\n  debugInfo.errors = 1;\n}\n\nconst markdownOutput = generateCompactMarkdown(processedData);\n\nconst stats = {\n  total: processedData.length,\n  positive: processedData.filter(item => item.sentiment?.toUpperCase() === 'POSITIVE').length,\n  negative: processedData.filter(item => item.sentiment?.toUpperCase() === 'NEGATIVE').length,\n  neutral: processedData.filter(item => item.sentiment?.toUpperCase() === 'NEUTRAL').length,\n  avgConfidence: processedData.length > 0 ? \n    (processedData.reduce((sum, item) => sum + parseFloat(item.confidence || 0), 0) / processedData.length).toFixed(2) : 0,\n  avgStrength: processedData.length > 0 ? \n    (processedData.reduce((sum, item) => sum + parseFloat(item.strength || 0), 0) / processedData.length).toFixed(2) : 0\n};\n\nreturn [{\n  json: {\n    markdown: markdownOutput,\n    stats: stats,\n    debug: debugInfo,\n    sessionid: $('Webhook').first().json.headers[\"x-real-ip\"],\n    consulta: $('Webhook').first().json.body.contents[0].parts[0].text ,\n    processedAt: new Date().toISOString().split('T')[0]\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1640,-300],"id":"ebd03fa6-1490-4031-a232-69b042ac5f30","name":"Code1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionid }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1400,-60],"id":"55fc09db-55bd-4077-8109-c10281b2f7f6","name":"Simple Memory2","disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM sentiment_results\nWHERE created_at::date = CURRENT_DATE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2220,-280],"id":"3cbd3f6e-522a-4720-9559-739c27dee9e1","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}},"onError":"continueErrorOutput"}],"connections":{"Add table name to output":{"main":[[{"node":"Convert data to binary","type":"main","index":0}]]},"Convert data to binary":{"main":[[{"node":"Save file locally","type":"main","index":0}]]},"Extract data from file":{"main":[[{"node":"Combine schema data and chat input","type":"main","index":0}]]},"Combine schema data and chat input":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Load the schema from the local file":{"main":[[{"node":"Extract data from file","type":"main","index":0}]]},"Extract SQL query":{"main":[[{"node":"Check if query exists","type":"main","index":0}]]},"Check if query exists":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":1},{"node":"Postgres1","type":"main","index":0}],[{"node":"SalidaFallaModelo","type":"main","index":0}],[{"node":"SalidaFallaModelo","type":"main","index":0}]]},"Format query results":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":0}]]},"Combine query result and chat answer":{"main":[[{"node":"Inteprete-Informacion","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Add table name to output","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Format query results","type":"main","index":0}],[{"node":"SalidaFallaModelo","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Save file locally":{"main":[[]]},"AI Agent1":{"main":[[],[{"node":"SalidaFallaModelo","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"AI Agent":{"main":[[{"node":"Extract SQL query","type":"main","index":0}],[{"node":"SalidaFallaModelo","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Inteprete-Informacion","type":"ai_languageModel","index":0}]]},"Inteprete-Informacion":{"main":[[{"node":"Prepare final output","type":"main","index":0}],[{"node":"Prepare final output1","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"AI Agent2":{"main":[[]]},"Aggregate":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveDataSuccessExecution":"all","saveDataErrorExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"13.93.203.72","x-forwarded-for":"13.93.203.72","x-forwarded-proto":"https","connection":"upgrade","content-length":"81","accept-language":"es-ES","user-agent":"azure-logic-apps/1.0 (workflow bed5d38490c64d11bfe32793bacc6f4b; version 08584511463322050564) microsoft-flow/1.0","x-ms-workflow-id":"bed5d38490c64d11bfe32793bacc6f4b","x-ms-workflow-version":"08584511463322050564","x-ms-workflow-name":"2e330922-b189-4def-ba71-be636e653933","x-ms-workflow-system-id":"/locations/westus/scaleunits/prod-121/workflows/bed5d38490c64d11bfe32793bacc6f4b","x-ms-workflow-run-id":"08584508253313510946307199013CU178","x-ms-workflow-run-tracking-id":"4a3953fd-4031-4aef-9e6d-85a2ff1f6527","x-ms-workflow-operation-name":"HTTP","x-ms-execution-location":"westus","x-ms-workflow-subscription-id":"d7ad4625-ea54-4797-b1f8-29e4c5fd4183","x-ms-workflow-resourcegroup-name":"E7CEBEC7B9E54CB988FE208929CDBF16-DEFAULTE7CEBEC7B9E54CB988FE208929CDBF16-ENV","x-ms-tracking-id":"22962433-9e78-4fa7-9ec0-1889b68f1b3c","x-ms-correlation-id":"22962433-9e78-4fa7-9ec0-1889b68f1b3c","x-ms-client-request-id":"22962433-9e78-4fa7-9ec0-1889b68f1b3c","x-ms-client-tracking-id":"08584508253313510946307199013CU178","x-ms-action-tracking-id":"ecab6216-cd3e-4ed3-b2c9-b82d6133172f","x-ms-client-keywords":"testFlow","x-ms-activity-vector":"IN.0G","accept-encoding":"gzip, deflate","content-type":"application/json; charset=utf-8"},"params":{},"query":{},"body":{"contents":[{"parts":[{"text":"Cuantos casos tiene ultramar?"}]}]},"webhookUrl":"https://n8n.aifx.com.co/webhook/chatbi","executionMode":"production"}}]},"versionId":"c446f5ca-a558-41d5-951c-d44727992bf2","triggerCount":1,"tags":[]}