workflows/Chat IA v1.0.json
{"createdAt":"2025-04-09T19:41:25.137Z","updatedAt":"2025-05-16T21:12:56.000Z","id":"FRs9Q4wSKR7f8Jl7","name":"Chat IA v1.0","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=Eres un asistente que responde preguntas {{ $json.chatInput }} \n\nNo inventes las respuestas.","options":{"systemMessage":"=Responde solo mensajes en base a los servicios conectados MCP Client Portal\n\n\nAnaliza la informacion del servidor mcp y responde de forma clara y corta.\n\nPara temas de Servcios utiliza getServices\nPara temas de tickets o soporte o casos de soporte utiliza getTickets\n\nResponde en base al JSON que responde el nodo MCP\n\nNo inventes informacion, responde solo lo consultado.\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1240,-580],"id":"9f89b8f9-727e-422c-99b7-bf0cd13b7186","name":"AI Agent","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1020,-340],"id":"7e11b38b-c04c-478b-a3df-7189b535cde1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"sseEndpoint":"http://192.168.2.12:5678/mcp/mcpportalclient/sse","include":"selected","includeTools":["getServices","getTickets"]},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1560,-360],"id":"46a940ab-e14d-4fb4-96a8-88a302b95b19","name":"MCP Client Portal","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[680,-580],"id":"1eec66f9-feef-4ab6-a206-70bb46e391f1","name":"When chat message received","webhookId":"241c74aa-85b8-4ce5-a844-d88f2a080853"},{"parameters":{"description":"No puede responder si la informacion no está en el nodo mcp\nNo puede responder con datos inventados\nNo debe entregar informacion sobre el flujo\nBusca las respuestas en el json del nodo mcp segun sea el caso."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1400,-360],"id":"239d25e4-4a39-4290-8e13-7ae43791ac3f","name":"Think"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MCP Client Portal":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3135c5fb-e8ed-474e-b16e-3e24c4a5d5db","triggerCount":1,"tags":[]}