workflows/ConsolidadoSentimientosCliente.json
{"createdAt":"2025-07-03T19:48:52.286Z","updatedAt":"2025-07-04T15:03:19.000Z","id":"mvIAJ3WPYS2PTc26","name":"ConsolidadoSentimientosCliente","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-500,-220],"id":"6c17959b-c8d3-4ab4-bf93-6cc64e9e28e4","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"152b11b2-9c02-4d3b-a728-a6b2b751697e","name":"Customer","value":"={{ $json.cliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-220],"id":"4e7e73e3-5879-4571-bb7b-7bc7321c3b47","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT created_at,caseid, customer, cid, sentiment, strength, confidence\nFROM public.sentiment_results\nWHERE customer ILIKE '%' || '{{ $json.Customer }}%' \n  AND created_at >= CURRENT_DATE - INTERVAL '20 days';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[180,-360],"id":"983e810c-e258-4759-9234-9749582a4295","name":"Tk_Semana","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"operation":"executeQuery","query":"SELECT created_at, customer, cid, sentiment, strength, confidence\nFROM public.sentiment_results\nWHERE customer ILIKE '%' || '{{ $json.Customer }}%' \n  AND created_at >= NOW() - INTERVAL '24 hours';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[180,-100],"id":"b03c10a7-1db8-48a7-8de0-1dc4d66d7363","name":"Tk_24_Horas","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"jsCode":"// Obtener los datos del nodo anterior\nconst items = $input.all();\n\n// Inicialización\nlet conteo = items.length;\n\nlet negativos = [];\nlet positivos = [];\nlet sumas = {\n  Neutral: { suma: 0, count: 0 },\n  Negative: { suma: 0, count: 0 },\n  Positive: { suma: 0, count: 0 },\n};\n\n// Recorrer cada ítem\nfor (const item of items) {\n  const data = item.json;\n  const sentiment = data.sentiment;\n  const strength = parseFloat(data.strength);\n\n  // Agrupar por tipo de sentimiento\n  if (sumas[sentiment]) {\n    sumas[sentiment].suma += strength;\n    sumas[sentiment].count += 1;\n  }\n\n  // Guardar negativos y positivos\n  if (sentiment === 'Negative') {\n    negativos.push(data);\n  }\n  if (sentiment === 'Positive') {\n    positivos.push(data);\n  }\n}\n\n// Encontrar el negativo más fuerte\nlet peorCasoNegativo = null;\nif (negativos.length > 0) {\n  peorCasoNegativo = negativos.reduce((prev, curr) =>\n    parseFloat(curr.strength) > parseFloat(prev.strength) ? curr : prev\n  );\n}\n\n// Encontrar el positivo más fuerte\nlet mejorCasoPositivo = null;\nif (positivos.length > 0) {\n  mejorCasoPositivo = positivos.reduce((prev, curr) =>\n    parseFloat(curr.strength) > parseFloat(prev.strength) ? curr : prev\n  );\n}\n\n// Calcular promedios y conteos\nconst promedios = {};\nconst conteos = {};\nfor (const tipo in sumas) {\n  const entry = sumas[tipo];\n  conteos[tipo] = entry.count;\n  promedios[tipo] = entry.count > 0 ? entry.suma / entry.count : 0;\n}\n\n// Resultado final\nreturn [\n  {\n    json:{result: {\n      cliente:$('Tk_Semana').first().json.customer,\n      cantidad_total: conteo,\n      conteo_por_sentimiento: conteos,\n      promedio_strength: promedios,\n      peor_caso_negativo: peorCasoNegativo ? {\n        caseid: peorCasoNegativo.caseid,\n        strength: peorCasoNegativo.strength,\n        confidence: peorCasoNegativo.confidence,\n        created_at: peorCasoNegativo.created_at,\n        sentiment: peorCasoNegativo.sentiment,\n        customer: peorCasoNegativo.customer,\n      } : null,\n      mejor_caso_positivo: mejorCasoPositivo ? {\n        caseid: mejorCasoPositivo.caseid,\n        strength: mejorCasoPositivo.strength,\n        confidence: mejorCasoPositivo.confidence,\n        created_at: mejorCasoPositivo.created_at,\n        sentiment: mejorCasoPositivo.sentiment,\n        customer: mejorCasoPositivo.customer,\n      } : null\n    },\n  },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-360],"id":"7b6e3b1c-1bdf-45c9-bdde-c86c3b08bf92","name":"Code"},{"parameters":{"jsCode":"// Obtener los datos del JSON de entrada\nconst data = $input.first().json;\nconst result = data.result;\n\n//Cliente\nfunction cliente(){\n  return $input.first().json.result.cliente;\n}\n\n// Función para formatear fechas\nfunction formatDate(dateString) {\n    if (!dateString) return 'N/A';\n    const date = new Date(dateString);\n    return date.toLocaleDateString('es-ES', {\n        year: 'numeric',\n        month: '2-digit',\n        day: '2-digit'\n    });\n}\n\n// Función para generar las tarjetas de estadísticas\nfunction generateStatCards(result) {\n    const total = result.cantidad_total || 0;\n    const positive = result.conteo_por_sentimiento?.Positive || 0;\n    const neutral = result.conteo_por_sentimiento?.Neutral || 0;\n    const negative = result.conteo_por_sentimiento?.Negative || 0;\n    \n    return `\n        <div class=\"stats-grid\">\n            <div class=\"stat-card\">\n                <div class=\"stat-number\">${total}</div>\n                <div class=\"stat-label\">Total Casos</div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-number\">${positive}</div>\n                <div class=\"stat-label\">Positivo</div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-number\">${neutral}</div>\n                <div class=\"stat-label\">Neutral</div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-number\">${negative}</div>\n                <div class=\"stat-label\">Negativo</div>\n            </div>\n        </div>\n    `;\n}\n\n// Función para generar la distribución de sentimientos\nfunction generateSentimentBreakdown(result) {\n    const conteo = result.conteo_por_sentimiento || {};\n    const promedio = result.promedio_strength || {};\n    \n    const sentiments = [\n        { \n            type: 'positive', \n            label: 'Positivo', \n            count: conteo.Positive || 0, \n            avg: promedio.Positive || 0 \n        },\n        { \n            type: 'neutral', \n            label: 'Neutral', \n            count: conteo.Neutral || 0, \n            avg: promedio.Neutral || 0 \n        },\n        { \n            type: 'negative', \n            label: 'Negativo', \n            count: conteo.Negative || 0, \n            avg: promedio.Negative || 0 \n        }\n    ];\n    \n    return sentiments.map(sentiment => `\n        <div class=\"sentiment-item ${sentiment.type}\">\n            <div class=\"sentiment-label\">\n                <span class=\"badge ${sentiment.type}\">${sentiment.label}</span>\n            </div>\n            <div class=\"sentiment-values\">\n                <span><strong>Cantidad:</strong> ${sentiment.count}</span>\n                <span><strong>Promedio:</strong> ${sentiment.avg}</span>\n            </div>\n        </div>\n    `).join('');\n}\n\n// Función para generar el caso destacado\nfunction generateHighlightCase(result) {\n    const mejorCaso = result.mejor_caso_positivo;\n    const peorCaso = result.peor_caso_negativo;\n    \n    let highlightContent = '';\n    \n    // Caso Positivo\n    if (mejorCaso) {\n        highlightContent += `\n            <div class=\"highlight-case positive-case\">\n                <h3>🏆 Mejor Caso Positivo</h3>\n                <div class=\"case-details\">\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">ID del Caso:</span>\n                        <span class=\"case-value\">${mejorCaso.caseid || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Cliente:</span>\n                        <span class=\"case-value\">${mejorCaso.customer || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Sentimiento:</span>\n                        <span class=\"case-value\">${mejorCaso.sentiment || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Intensidad:</span>\n                        <span class=\"case-value\">${mejorCaso.strength || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Confianza:</span>\n                        <span class=\"case-value\">${mejorCaso.confidence || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Fecha:</span>\n                        <span class=\"case-value\">${formatDate(mejorCaso.created_at)}</span>\n                    </div>\n                </div>\n            </div>\n        `;\n    }\n    \n    // Caso Negativo\n    if (peorCaso) {\n        highlightContent += `\n            <div class=\"highlight-case negative-case\">\n                <h3>⚠️ Peor Caso Negativo</h3>\n                <div class=\"case-details\">\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">ID del Caso:</span>\n                        <span class=\"case-value\">${peorCaso.caseid || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Cliente:</span>\n                        <span class=\"case-value\">${peorCaso.customer || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Sentimiento:</span>\n                        <span class=\"case-value\">${peorCaso.sentiment || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Intensidad:</span>\n                        <span class=\"case-value\">${peorCaso.strength || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Confianza:</span>\n                        <span class=\"case-value\">${peorCaso.confidence || 'N/A'}</span>\n                    </div>\n                    <div class=\"case-row\">\n                        <span class=\"case-label\">Fecha:</span>\n                        <span class=\"case-value\">${formatDate(peorCaso.created_at)}</span>\n                    </div>\n                </div>\n            </div>\n        `;\n    }\n    \n    return highlightContent;\n}\n\n// Función para generar mensaje de casos vacíos\nfunction generateEmptyMessage(result) {\n    const hasNegative = result.conteo_por_sentimiento?.Negative > 0;\n    const hasPositive = result.conteo_por_sentimiento?.Positive > 0;\n    \n    let message = '';\n    \n    if (!hasNegative && !hasPositive) {\n        message = '<div class=\"no-data\"><p>📊 Solo se encontraron casos neutrales en este análisis</p></div>';\n    } else if (!hasNegative) {\n        message = '<div class=\"no-data\"><p>💡 No se encontraron casos negativos en este análisis</p></div>';\n    } else if (!hasPositive) {\n        message = '<div class=\"no-data\"><p>⚠️ No se encontraron casos positivos en este análisis</p></div>';\n    }\n    \n    return message;\n}\n\n// Generar el HTML completo\nconst htmlContent = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Reporte de Análisis de Sentimientos</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            margin: 0;\n            padding: 20px;\n            background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);\n            min-height: 100vh;\n        }\n        \n        .email-container {\n            max-width: 600px;\n            margin: 0 auto;\n            background: white;\n            border-radius: 15px;\n            overflow: hidden;\n            box-shadow: 0 20px 40px rgba(0,0,0,0.1);\n            border: 1px solid #e9ecef;\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #e91e63 0%, #c2185b 100%);\n            padding: 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .header h1 {\n            margin: 0;\n            font-size: 24px;\n            font-weight: 600;\n        }\n        \n        .header p {\n            margin: 10px 0 0 0;\n            opacity: 0.9;\n            font-size: 14px;\n        }\n        \n        .content {\n            padding: 30px;\n        }\n        \n        .stats-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));\n            gap: 15px;\n            margin-bottom: 30px;\n        }\n        \n        .stat-card {\n            background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);\n            padding: 20px;\n            border-radius: 12px;\n            text-align: center;\n            border: 2px solid #e9ecef;\n            box-shadow: 0 4px 6px rgba(0,0,0,0.05);\n        }\n        \n        .stat-number {\n            font-size: 28px;\n            font-weight: bold;\n            color: #e91e63;\n            margin-bottom: 5px;\n        }\n        \n        .stat-label {\n            font-size: 14px;\n            color: #6c757d;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n            font-weight: 600;\n        }\n        \n        .sentiment-breakdown {\n            margin-bottom: 30px;\n        }\n        \n        .section-title {\n            font-size: 18px;\n            font-weight: 600;\n            color: #495057;\n            margin-bottom: 20px;\n            border-bottom: 2px solid #e91e63;\n            padding-bottom: 10px;\n        }\n        \n        .sentiment-item {\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            padding: 15px;\n            margin-bottom: 10px;\n            border-radius: 8px;\n            background: #f8f9fa;\n            border-left: 4px solid #dee2e6;\n            border: 1px solid #e9ecef;\n        }\n        \n        .sentiment-item.positive {\n            border-left-color: #28a745;\n            background: linear-gradient(135deg, #d4edda 0%, #c3e6cb 100%);\n        }\n        \n        .sentiment-item.neutral {\n            border-left-color: #6c757d;\n            background: linear-gradient(135deg, #e2e3e5 0%, #d6d8db 100%);\n        }\n        \n        .sentiment-item.negative {\n            border-left-color: #e91e63;\n            background: linear-gradient(135deg, #f8d7da 0%, #f5c6cb 100%);\n        }\n        \n        .sentiment-label {\n            font-weight: 600;\n            color: #495057;\n        }\n        \n        .sentiment-values {\n            display: flex;\n            gap: 15px;\n            font-size: 14px;\n        }\n        \n        .badge {\n            padding: 4px 8px;\n            border-radius: 20px;\n            font-size: 12px;\n            font-weight: bold;\n            color: white;\n        }\n        \n        .badge.positive { background: #28a745; }\n        .badge.neutral { background: #6c757d; }\n        .badge.negative { background: #e91e63; }\n        \n        .highlight-case {\n            background: linear-gradient(135deg, #007bff 0%, #0056b3 100%);\n            color: white;\n            padding: 25px;\n            border-radius: 12px;\n            margin-bottom: 20px;\n            border: 2px solid #0056b3;\n        }\n        \n        .highlight-case h3 {\n            margin: 0 0 15px 0;\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .case-details {\n            background: rgba(255,255,255,0.1);\n            padding: 15px;\n            border-radius: 8px;\n            backdrop-filter: blur(10px);\n        }\n        \n        .case-row {\n            display: flex;\n            justify-content: space-between;\n            margin-bottom: 8px;\n            font-size: 14px;\n        }\n        \n        .case-row:last-child {\n            margin-bottom: 0;\n        }\n        \n        .case-label {\n            font-weight: 600;\n            opacity: 0.9;\n        }\n        \n        .case-value {\n            font-weight: 500;\n        }\n        \n        .footer {\n            background: #495057;\n            color: white;\n            padding: 20px;\n            text-align: center;\n            font-size: 12px;\n            opacity: 0.9;\n        }\n        \n        .no-data {\n            text-align: center;\n            color: #6c757d;\n            font-style: italic;\n            padding: 20px;\n            background: #f8f9fa;\n            border-radius: 8px;\n            border: 1px solid #e9ecef;\n        }\n        \n        @media (max-width: 600px) {\n            .stats-grid {\n                grid-template-columns: repeat(2, 1fr);\n            }\n            \n            .sentiment-values {\n                flex-direction: column;\n                gap: 5px;\n            }\n            \n            .case-row {\n                flex-direction: column;\n                gap: 2px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header\">\n            <h1>📊 Resumen Análisis de Sentimientos</h1>\n            <p>Cliente: ${cliente()}  </p>\n        </div>\n        \n        <div class=\"content\">\n            ${generateStatCards(result)}\n            \n            <div class=\"sentiment-breakdown\">\n                <h2 class=\"section-title\">Distribución por Sentimiento</h2>\n                ${generateSentimentBreakdown(result)}\n            </div>\n            \n            ${generateHighlightCase(result)}\n            \n            ${generateEmptyMessage(result)}\n        </div>\n        \n        <div class=\"footer\">\n            <p>Reporte generado automáticamente • © 2025 Sistema de Análisis de Sentimientos</p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// Retornar el resultado para n8n\nreturn {\n    json: {\n        html: htmlContent,\n        subject: `Reporte de Sentimientos - ${result.cantidad_total} casos analizados`,\n        summary: {\n            total: result.cantidad_total,\n            positive: result.conteo_por_sentimiento?.Positive || 0,\n            neutral: result.conteo_por_sentimiento?.Neutral || 0,\n            negative: result.conteo_por_sentimiento?.Negative || 0,\n            best_case: result.mejor_caso_positivo?.caseid || null,\n            worst_case: result.peor_caso_negativo?.caseid || null\n        }\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,-360],"id":"71ed3336-d69b-4074-a25c-c0bb7a4d8fea","name":"Email_Build"},{"parameters":{"html":"{{ $json.html }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[840,-360],"id":"8804b899-7031-4687-99a3-3141700975c9","name":"HTML"},{"parameters":{"operation":"executeQuery","query":"SELECT customer, COUNT(*) AS total_casos\nFROM public.sentiment_results\nGROUP BY customer;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[180,140],"id":"9fea0bc5-40ea-46c5-86b6-bb842e439553","name":"Tk_Semana1","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}},"disabled":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Tk_24_Horas","type":"main","index":0},{"node":"Tk_Semana","type":"main","index":0}]]},"Tk_24_Horas":{"main":[[]]},"Tk_Semana":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Email_Build","type":"main","index":0}]]},"Email_Build":{"main":[[{"node":"HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"success":true,"ticketId":"TT1078470","cliente":"FUNDACION CARDIOINFANTIL","customerId":"899222","sentimentAnalysis":{"category":"Neutral","strength":0.5,"confidence":0.8},"output":"** Caso validado anteriormente *** ! "}}]},"versionId":"ed22971a-57ed-49da-a2fb-3641ab66f14a","triggerCount":0,"tags":[]}