workflows/ConsolidadoSentimientosCliente.json
{"createdAt":"2025-07-03T19:48:52.286Z","updatedAt":"2025-07-03T20:31:50.000Z","id":"mvIAJ3WPYS2PTc26","name":"ConsolidadoSentimientosCliente","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-260,-100],"id":"6c17959b-c8d3-4ab4-bf93-6cc64e9e28e4","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"152b11b2-9c02-4d3b-a728-a6b2b751697e","name":"Customer","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-100],"id":"4e7e73e3-5879-4571-bb7b-7bc7321c3b47","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"Select created_at, customer, cid, sentiment, strength, confidence from Public.Sentiment_results where customer like '%{{ $json.Customer }}%'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[180,-100],"id":"b03c10a7-1db8-48a7-8de0-1dc4d66d7363","name":"Postgres","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"24c5040a-7ec2-48c6-9277-95820cf047f9","triggerCount":0,"tags":[]}