workflows/IFX FaaS.json
{"createdAt":"2025-07-21T14:23:36.658Z","updatedAt":"2025-07-21T16:45:56.000Z","id":"BHqfyZnmeMQXlQ3e","name":"IFX FaaS","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ifxfaas","responseMode":"lastNode","responseData":"allEntries","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,-120],"id":"5c2c6930-e132-428d-b274-dc3c60664fe5","name":"Webhook","webhookId":"bdf3b3b3-dc35-4649-ae57-3912a6ea84f3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.runTimeName }}","rightValue":"NodeJs","operator":{"type":"string","operation":"contains"},"id":"b6fa4254-904b-4489-bea9-f3e0dc8a4a5a"}],"combinator":"and"},"renameOutput":true,"outputKey":"NodeJs"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97cb9961-bc80-4c31-a70b-19a34bcbeaee","leftValue":"={{ $json.body.runTimeName }}","rightValue":"Python 3","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Python 3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d670e475-14c9-4cd3-a268-22e89377627b","leftValue":"={{ $json.body.runTimeName }}","rightValue":"Powershell","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Powershell"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe76e366-1206-42e5-abc9-99f8bb4df489","leftValue":"={{ $json.body.runTimeName }}","rightValue":"Golang","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Golang"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-160,-140],"id":"63ff4cae-829a-4d6d-adbb-9ad5ecbfbc5d","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"a1377413-74cf-4b16-a458-4f9981137be9","name":"Template","value":"'use strict'     module.exports = async (context, callback) => {      return {status: \"done\"}  }","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,-420],"id":"929fe8df-d5d6-40d0-aad2-989b26e5389c","name":"TemplateNode"},{"parameters":{"assignments":{"assignments":[{"id":"a1377413-74cf-4b16-a458-4f9981137be9","name":"Template","value":"Write-Host \"Hello world\"","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,-40],"id":"1779b8d6-5bb3-4713-ad46-1d75ea8bc7d4","name":"TemplatePowershell"},{"parameters":{"assignments":{"assignments":[{"id":"a1377413-74cf-4b16-a458-4f9981137be9","name":"Template","value":"def handle(req):      \"\"\"handle a request to the function      Args:          req (str): request body      \"\"\"         return req","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,-240],"id":"f61ec738-e94e-4eba-b12b-0f622fa96b67","name":"TemplatePython"},{"parameters":{"assignments":{"assignments":[{"id":"a1377413-74cf-4b16-a458-4f9981137be9","name":"Template","value":"package function     import (      \"fmt\"  )     // Handle a serverless request  func Handle(req []byte) string {      return fmt.Sprintf(\"Hello, Go. You said: %s\", string(req))  }","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,160],"id":"9c77b33a-affe-44dc-9c24-21e7a6c8ef39","name":"TemplateGolang"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[500,-180],"id":"1c50a9cd-b938-49df-b075-0acb8e355c79","name":"Merge"},{"parameters":{"promptType":"define","text":"=\n{{ $json.body.messages[1].content }} Ten en cuenta que esta funcion será desplegada como serverles y el template base es este: {{ $json.Template }}\n\nInstrucciones:\n\n - Crea el codigo y manten la estrucutra del template\n - Crea un codigo corto y eficiente.\n\n\nRespuesta:\nResponde siempre en JSON, no agregues caracteres especiales o saltos de linea que puedan dañar el formato. ejemplo de formato:\n\n{\n  codigo:codigo,\n  comentarios:comentarios\n  id:{{ $execution.id }}\n}\n\n - Agrega comentarios al codigo de forma separada.\n - No expliques el codigo.","options":{"systemMessage":"={{ $json.body.messages[0].content }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[760,-160],"id":"fdb01631-66b8-4aca-bfae-52a5b8ce10b7","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,80],"id":"5a6fdfe6-e149-44da-b9c8-ddff18690413","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-160],"id":"64085251-bc37-4745-ac7c-ca53501bc2ac","name":"ParseJsonResponse"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"TemplateNode","type":"main","index":0}],[{"node":"TemplatePython","type":"main","index":0}],[{"node":"TemplatePowershell","type":"main","index":0}],[{"node":"TemplateGolang","type":"main","index":0}]]},"TemplateNode":{"main":[[{"node":"Merge","type":"main","index":0}]]},"TemplatePowershell":{"main":[[{"node":"Merge","type":"main","index":2}]]},"TemplatePython":{"main":[[{"node":"Merge","type":"main","index":1}]]},"TemplateGolang":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"ParseJsonResponse","type":"main","index":0}]]},"ParseJsonResponse":{"main":[[]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"201.233.92.253","x-forwarded-for":"201.233.92.253","x-forwarded-proto":"https","connection":"upgrade","content-length":"372","authorization":"Bearer OYPifVCdLmOBqSph9ValL4dCsKhzGDZLSOC8SdozD0Khy0wiS8p7OcLEhcrtUSLA","traceparent":"00-19d70d1f3ed3a049abb83f78c8a3c756-47d727e8c90b1646-00","content-type":"application/json; charset=utf-8"},"params":{},"query":{},"body":{"model":"llama-3.3-70B-Instruct","messages":[{"role":"system","content":"Eres un experto desarrollador. Siempre responde solo con fragmentos de código en Powershell, esta función debe ser una funcion serverless valida para OpenFaaS."},{"role":"user","content":"Genera una funcion que de un listado de url, valide cual de ellas está on y cual off y retorne el listado con el estado de cada una"}],"temperature":0.5,"runTimeName":"NodeJs"},"webhookUrl":"https://n8n.aifx.com.co/webhook/ifxfaas","executionMode":"production"}}]},"versionId":"1fc8f32a-27fb-4026-9e17-41dbe56a7231","triggerCount":1,"tags":[]}