workflows/MCP_Server_Portal.json
{"createdAt":"2025-05-15T21:20:10.343Z","updatedAt":"2025-05-16T20:27:12.000Z","id":"6EoAd21buVrw1NBd","name":"MCP_Server_Portal","active":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"operation"}]}},"id":"623137e9-0d3c-4a79-be28-e2f151955792","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1200,900],"typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"81b134bc-d671-4493-b3ad-8df9be3f49a6","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('When Executed by Another Workflow').first().json.operation }}","rightValue":"getTickets"}],"combinator":"and"},"renameOutput":true,"outputKey":"getTickets"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"8d57914f-6587-4fb3-88e0-aa1de6ba56c1","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('When Executed by Another Workflow').first().json.operation }}","rightValue":"getServices"}],"combinator":"and"},"renameOutput":true,"outputKey":"getServices"}]},"options":{}},"id":"4b303d80-0714-4339-b6aa-371dc5b980a3","name":"Operation","type":"n8n-nodes-base.switch","position":[1520,900],"typeVersion":3.2},{"parameters":{"content":"## 1. Set up an MCP Server Trigger\n[Read more about the MCP Server Trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.mcptrigger)","height":660,"width":680,"color":7},"id":"085509ee-a2cf-40f0-a249-140529d3dcc9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[460,520],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"7436ff99-7ae7-483f-9e60-044a2614583f","name":"Aggregate Search Results","type":"n8n-nodes-base.aggregate","position":[2200,1020],"typeVersion":1},{"parameters":{"method":"POST","url":"https://portal-gateway.ifxcorp.com/api/service/getTicketsServicesByTypeId","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"={{ $('When Executed by Another Workflow').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"customerId\":\"35631\",\"status\":[5]}","options":{"timeout":10000}},"id":"970edb08-1050-4520-ab2f-3762bef5a2de","name":"Get Services","type":"n8n-nodes-base.httpRequest","position":[1820,1020],"typeVersion":4.2},{"parameters":{"name":"getTickets","description":"Searches for and returns tickets details.","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"mappingMode":"defineBelow","value":{"operation":"getTickets"},"matchingColumns":["operation"],"schema":[{"id":"operation","displayName":"operation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"3da23da1-7c00-4abe-a4ea-92054acea4cb","name":"get Tickets","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[640,900],"typeVersion":2.1},{"parameters":{"name":"getServices","description":"Returns an service's details.","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"mappingMode":"defineBelow","value":{"operation":"getServices"},"matchingColumns":["operation"],"schema":[{"id":"operation","displayName":"operation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"dbed6e44-bb89-4dc2-8b27-cdd36064d10c","name":"get Services","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[880,900],"typeVersion":2.1},{"parameters":{"path":"mcpportalclient"},"id":"a73d3ac6-bdec-4353-8b2c-ab9dce2aa40b","name":"Portal MCP Server","type":"@n8n/n8n-nodes-langchain.mcpTrigger","position":[620,680],"webhookId":"5f6728df-d3e8-48bb-9a38-0f2e54c7962c","typeVersion":1,"notesInFlow":false},{"parameters":{"fileSelector":"./info_tickets_new.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1940,760],"id":"f219faf7-8f02-4848-80ca-614041c08d83","name":"Read/Write Files from Disk"},{"parameters":{"httpMethod":"POST","path":"loadservices","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1160,240],"id":"b9e35271-1549-4459-9757-a9c8ad801d04","name":"Webhook","webhookId":"63f2f3df-96c0-41a3-9fb8-dc5107b3b861"},{"parameters":{"url":"=https://portal-gateway.ifxcorp.com/api/ticket/info/customer/{{ $('Webhook').item.json.body.clientid }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"={{ $('Webhook').item.json.body.token }}"}]},"options":{"timeout":10000}},"id":"72c36246-9eb7-4aba-a2c1-d414beec1a46","name":"Get Tickets","type":"n8n-nodes-base.httpRequest","position":[1460,240],"typeVersion":4.2},{"parameters":{"jsCode":"// Nodo Code para simplificar JSON en n8n\n// Este código maneja la estructura específica del JSON proporcionado\n// y agrupa todo en un objeto principal llamado \"tickets\"\n\n// Define la función principal que se ejecutará en n8n\nfunction processData() {\n  // Obtener los items del nodo anterior\n  const items = $input.all();\n  \n  // Array para almacenar todos los tickets simplificados\n  const simplifiedTickets = [];\n  \n  // Procesar cada item\n  for (const item of items) {\n    try {\n      // Si hay tickets en el array, procesar cada uno\n      if (item.json && item.json.tickets && Array.isArray(item.json.tickets)) {\n        for (const ticket of item.json.tickets) {\n          if (ticket.info && ticket.contact) {\n            // Crear un objeto simplificado con los campos requeridos\n            const simplifiedTicket = {\n              Title: ticket.info.title || '',\n              casenumber: ticket.info.casenumber || '',\n              startdate: ticket.info.startdate || '',\n              enddate: ticket.info.enddate || '',\n              type: ticket.info.type?.value || '',\n              creator: ticket.info.creator?.value || '',\n              service: ticket.info.services?.value || '',\n              status: ticket.info.status?.value || '',\n              country: ticket.contact.country?.value || '',\n              email: ticket.contact.email || ''\n            };\n            \n            // Añadir el ticket procesado al array\n            simplifiedTickets.push(simplifiedTicket);\n          }\n        }\n      } else {\n        // Si no hay estructura de tickets, registrar un mensaje\n        console.log('No se encontró la estructura de tickets esperada');\n      }\n    } catch (error) {\n      // Manejar errores\n      console.log('Error procesando item:', error.message);\n    }\n  }\n  \n  // Crear un único objeto con todos los tickets\n  const result = {\n    json: {\n      tickets: simplifiedTickets\n    }\n  };\n  \n  // Devolver un array con el único objeto resultado\n  return [result];\n}\n\n// Ejecutar la función y devolver el resultado\nreturn processData();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,240],"id":"bfb3f2a3-3798-4ec5-a656-9e66dc1beaab","name":"Code"},{"parameters":{"operation":"aggregate","collection":"temp_tickets","query":"={{ $json.tickets }}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[2220,240],"id":"03e6d28d-bcb0-49d1-997e-08bb5e362452","name":"MongoDB","credentials":{"mongoDb":{"id":"GlPbQtJv6wW22OFC","name":"MongoDB account 3"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2200,760],"id":"4a78fd50-36ff-4b30-8d08-ad76ad903f0a","name":"Extract from File"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2420,760],"id":"22504a24-1529-4fd1-82ae-246996ac3fda","name":"Aggregate"}],"connections":{"Operation":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}],[{"node":"Get Services","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Operation","type":"main","index":0}]]},"Get Services":{"main":[[{"node":"Aggregate Search Results","type":"main","index":0}]]},"get Tickets":{"ai_tool":[[{"node":"Portal MCP Server","type":"ai_tool","index":0}]]},"get Services":{"ai_tool":[[{"node":"Portal MCP Server","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Get Tickets","type":"main","index":0}]]},"Get Tickets":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4da0bead-80ea-43a4-b8a2-c7afdc359378","triggerCount":2,"tags":[]}