workflows/Refinamiento de Tickets.json
{"createdAt":"2025-07-01T14:56:34.650Z","updatedAt":"2025-07-02T19:51:52.000Z","id":"fUHQWbjuzqrgHHnv","name":"Refinamiento de Tickets","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"refinetk","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-300,0],"id":"1378d16b-9e3d-42bb-8085-2fe50b4bc190","name":"Webhook","webhookId":"de9ce61e-a9af-458f-a2a4-4045ae589243"},{"parameters":{"promptType":"define","text":"=Eres un experto en soporte tecnico para temas de infraestructura cloud.\n\n\nINFORMACION\nToda la informacion del caso está acá {{ $json.markdown }}\n\nINSTRUCCIONES\n\nTu tarea es reescribir el problema que el usuario indica sobre los servicios de IFX , \npero incluyendo palabras claves como: \n- Nombre del servicio o servicios\n- Tipo de Servicio\n- Ciudad de instalacion\n- Direccion\n- Pais\n\nDebes ser claro\nDebes escrbir de manera formal y profesional\nTU RESPUESTA DEBE SIMULAR QUE LO REDACTA EL CLIENTE Y NO EL TECNICO\nLOS SERVICIOS SIEMPRE SON DE IFX \nUTILIZA MAXIMO 800 Caracteres.\n\nRESTRICCIONES \nNo inventes informacion\nNo incluyas campos de valores\nNo incluyas informacion que no se te ha entregado.\nNO INCLUIR EL PROVEEDOR DEL SERVICIO\nNO INCLUIR Atentamente.\nNO INCLUIR Nombre del Usuario.\n\n\n\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[440,0],"id":"433b7f49-b82a-4a71-b50e-d3d3dbc5d87c","name":"AI Agent","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,260],"id":"c007ec59-a40d-4250-a28e-cef0a92bbc7a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"jsCode":"// Código para nodo Code de n8n\n// Extrae servicios del webhook y los formatea en markdown para enviar a un agente IA\n\n// Obtener los datos de entrada\nconst inputData = $input.first();\nconst webhookData = inputData.json;\n\n// Función para formatear los datos en markdown\nfunction formatToMarkdown(data) {\n  let markdown = '';\n  \n  // Título principal\n  markdown += '# Reporte de Servicios\\n\\n';\n  \n  // Información del reporte\n  if (data.asunto) {\n    markdown += `## Asunto: ${data.asunto}\\n\\n`;\n  }\n  \n  if (data.tipo) {\n    markdown += `**Tipo:** ${data.tipo}\\n\\n`;\n  }\n  \n  if (data.categoria) {\n    markdown += `**Categoría:** ${data.categoria}\\n\\n`;\n  }\n  \n  if (data.comentarios) {\n    markdown += `**Comentarios:** ${data.comentarios}\\n\\n`;\n  }\n  \n  // Procesar el array de servicios\n  if (data.servicios && Array.isArray(data.servicios)) {\n    markdown += `## Servicios (${data.servicios.length})\\n\\n`;\n    \n    data.servicios.forEach((servicio, index) => {\n      markdown += `### ${index + 1}. ${servicio.name || 'Servicio sin nombre'}\\n\\n`;\n      \n      // Tabla con la información del servicio\n      markdown += '| Campo | Valor |\\n';\n      markdown += '|-------|-------|\\n';\n      markdown += `| **Código** | ${servicio.code || 'N/A'} |\\n`;\n      markdown += `| **Estado** | ${servicio.status || 'N/A'} |\\n`;\n      markdown += `| **Familia** | ${servicio.family || 'N/A'} |\\n`;\n      markdown += `| **Ciudad de Instalación** | ${servicio.cityInstall || 'N/A'} |\\n`;\n      markdown += `| **Tipo de Producto** | ${servicio.productType || 'N/A'} |\\n`;\n      markdown += `| **País de Instalación** | ${servicio.countryInstall || 'N/A'} |\\n`;\n      markdown += `| **Dirección de Instalación** | ${servicio.addressInstall || 'N/A'} |\\n`;\n      markdown += '\\n---\\n\\n';\n    });\n  } else {\n    markdown += '⚠️ No se encontraron servicios en el formato esperado.\\n\\n';\n  }\n  \n  return markdown;\n}\n\n// Extraer el body del webhook\nconst body = webhookData.body;\n\n// Generar el markdown\nconst markdownContent = formatToMarkdown(body);\n\n// Preparar el payload para el agente IA\nconst aiPayload = {\n  message: markdownContent,\n  type: \"markdown\",\n  timestamp: new Date().toISOString(),\n  source: \"n8n_service_report\",\n  metadata: {\n    asunto: body.asunto,\n    tipo: body.tipo,\n    categoria: body.categoria,\n    comentarios: body.comentarios,\n    totalServicios: body.servicios ? body.servicios.length : 0,\n    webhookUrl: webhookData.webhookUrl\n  }\n};\n\n// Retornar los datos formateados\nreturn [\n  {\n    json: {\n      markdown: markdownContent,\n      aiPayload: aiPayload,\n      servicesCount: body.servicios ? body.servicios.length : 0,\n      asunto: body.asunto,\n      tipo: body.tipo,\n      categoria: body.categoria,\n      comentarios: body.comentarios,\n      originalWebhookData: webhookData\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,0],"id":"413c973a-e695-491a-af51-1a782bd504cb","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"6ac60bc0-1545-4bf1-8e81-4fb9ad07e4dd","name":"success","value":false,"type":"boolean"},{"id":"7f10e3db-240e-4efb-b2ed-47ae6339d70b","name":"msg","value":"=\"Necesito mas información para ofrecer una redaccion mas acertada.\"","type":"string"},{"id":"f3a960fc-75bd-422f-aaa7-96267162dd0f","name":"error","value":"\"Fall en el modelo\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,120],"id":"418e11b7-f1b2-470d-a04b-5316308ea6e3","name":"SalidaFalla"},{"parameters":{"assignments":{"assignments":[{"id":"6ac60bc0-1545-4bf1-8e81-4fb9ad07e4dd","name":"success","value":true,"type":"boolean"},{"id":"7f10e3db-240e-4efb-b2ed-47ae6339d70b","name":"msg","value":"={{ $json.output }}","type":"string"},{"id":"f3a960fc-75bd-422f-aaa7-96267162dd0f","name":"error","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,-100],"id":"7b2e930f-3a2d-4660-86fc-4ef7a144b3eb","name":"SalidOK"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"SalidOK","type":"main","index":0}],[{"node":"SalidaFalla","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"181.59.3.95","x-forwarded-for":"181.59.3.95","x-forwarded-proto":"https","connection":"upgrade","content-length":"980","accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.7.7","accept-encoding":"gzip, compress, deflate, br"},"params":{},"query":{},"body":{"asunto":"problemas de conectividad","tipo":"Incidencia","servicios":[{"name":"1903544-IFX Internet Premium","id":"1799749","code":"1903544","parent":"","status":"Activo","family":"Managed Network","currency":"Peso Col","activationDate":"15/7/2024","duration":"24","cityInstall":"Bogotá, D.C.","productType":"Internet Premium","renewDate":"15/7/2025","countryInstall":"Colombia","addressInstall":"Autopista Medellín Km 6 + 300 mts costado Sur Bogotá Latitud 4.7632158, Longitud -74.1674613","periodicity":"Mensual"},{"name":"1903557-IFX Cloud Server","id":"1799762","code":"1903557","parent":"","status":"Activo","family":"Managed Cloud","currency":"Peso Col","activationDate":"22/7/2024","duration":"24","cityInstall":"Bogotá, D.C.","productType":"Cloud Server","renewDate":"22/7/2025","countryInstall":"Colombia","addressInstall":"CO, Barranquilla, GlobeNet","periodicity":"Mensual"}],"categoria":"No da el ancho de banda","comentarios":"problemas de carga de informacion"},"webhookUrl":"https://n8n.aifx.com.co/webhook/refinetk","executionMode":"production"}}]},"versionId":"f956c165-e8b2-4459-8b9a-ea4351660d11","triggerCount":1,"tags":[]}